In [1]:
import numpy as np
import pandas as pd

In [2]:
Er_LSTM= pd.read_excel('C:\\Users\\Ramshankar\\OneDrive - iLink Systems Inc\\Documents\\Costco\\Dataset\\Final Output\\Weekly\\LSTM\\Error_Output_all_LSTM_Weekly.xlsx')

In [3]:
Er_LSTM.head()

    MSE_LSTM   RMSE_LSTM  MAPE_LSTM Location               Item
0    1444.41   38.005433       0.99  FREMONT  CHICKEN XXXXX - O
1  365294.20  604.395735       1.00  FREMONT    DRUMSTICKS NNNN
2    1828.06   42.755793       0.98  FREMONT        FILLET QQQQ
3     845.68   29.080653       0.99  HAYWARD  CHICKEN XXXXX - O
4  318903.18  564.715132       1.00  HAYWARD    DRUMSTICKS NNNN

In [4]:
Er_LSTM['RMSE_LSTM'] = Er_LSTM['RMSE_LSTM'].round(2)

In [5]:
Er_LSTM

,MSE_LSTM,RMSE_LSTM,MAPE_LSTM,Location,Item
0,1444.41,38.01,0.99,FREMONT,CHICKEN XXXXX - O
1,365294.20,604.40,1.00,FREMONT,DRUMSTICKS NNNN
2,1828.06,42.76,0.98,FREMONT,FILLET QQQQ
3,845.68,29.08,0.99,HAYWARD,CHICKEN XXXXX - O
4,318903.18,564.72,1.00,HAYWARD,DRUMSTICKS NNNN
5,3332.17,57.72,0.99,HAYWARD,FILLET QQQQ
6,1174.56,34.27,0.99,LAKEWOOD,CHICKEN XXXXX - O
7,90862.71,301.43,1.00,LAKEWOOD,DRUMSTICKS NNNN
8,2430.87,49.30,0.99,LAKEWOOD,FILLET QQQQ
9,3986.17,63.14,1.00,RICHMOND CA,CHICKEN XXXXX - O
10,439233.02,662.75,1.00,RICHMOND CA,DRUMSTICKS NNNN
11,4224.06,64.99,0.99,RICHMOND CA,FILLET QQQQ
12,123492.13,351.41,0.99,S SAN FRANCISCO BUS CTR,BEEF OOOO - GT
13,17441.70,132.07,1.00,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN

In [6]:
Er_prophet = pd.read_excel('C:\\Users\\Ramshankar\\OneDrive - iLink Systems Inc\\Documents\\Costco\\Dataset\\Final Output\\Weekly\\Prophet\\final\\Error_Output_all_Prophet_Weekly.xlsx')

In [7]:
Er_prophet.columns

Index(['MSE_prophet', 'RMSE_prophet', 'MAPE_prophet', 'Location', 'Item'], dtype='object')

In [8]:
Er_prophet['RMSE_prophet'] = Er_prophet['RMSE_prophet'].round(2)

In [9]:
Er_prophet

,MSE_prophet,RMSE_prophet,MAPE_prophet,Location,Item
0,295.62,17.19,0.45,FREMONT,CHICKEN XXXXX - O
1,16555.51,128.67,0.19,FREMONT,DRUMSTICKS NNNN
2,135.13,11.62,0.22,FREMONT,FILLET QQQQ
3,510.73,22.60,0.62,HAYWARD,CHICKEN XXXXX - O
4,22055.81,148.51,0.23,HAYWARD,DRUMSTICKS NNNN
5,502.27,22.41,0.33,HAYWARD,FILLET QQQQ
6,161.95,12.73,0.31,LAKEWOOD,CHICKEN XXXXX - O
7,13459.35,116.01,0.38,LAKEWOOD,DRUMSTICKS NNNN
8,114.78,10.71,0.17,LAKEWOOD,FILLET QQQQ
9,524.41,22.90,0.33,RICHMOND CA,CHICKEN XXXXX - O
10,17716.03,133.10,0.19,RICHMOND CA,DRUMSTICKS NNNN
11,813.07,28.51,0.34,RICHMOND CA,FILLET QQQQ
12,3469.55,58.90,0.15,S SAN FRANCISCO BUS CTR,BEEF OOOO - GT
13,1287.69,35.88,0.17,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN

In [10]:
Er_Sarima = pd.read_excel('C:\\Users\\Ramshankar\\OneDrive - iLink Systems Inc\\Documents\\Costco\\Dataset\\Final Output\\Weekly\\SARIMA\\final\\All_Error_Output_SARIMA_Weekly.xlsx')

In [11]:
Er_Sarima.columns

Index(['MSE_SARIMA', 'RMSE_SARIMA', 'MAPE_SARIMA', 'Location', 'Item'], dtype='object')

In [12]:
Er_Sarima['RMSE_SARIMA'] = Er_Sarima['RMSE_SARIMA'].round(2)

In [13]:
Er_Sarima

,MSE_SARIMA,RMSE_SARIMA,MAPE_SARIMA,Location,Item
0,391.89,19.80,0.23,FREMONT,CHICKEN XXXXX - O
1,11231.42,105.98,0.14,FREMONT,DRUMSTICKS NNNN
2,59.18,7.69,0.11,FREMONT,FILLET QQQQ
3,329.02,18.14,0.24,HAYWARD,CHICKEN XXXXX - O
4,13497.76,116.18,0.15,HAYWARD,DRUMSTICKS NNNN
5,81.83,9.05,0.13,HAYWARD,FILLET QQQQ
6,135.44,11.64,0.22,LAKEWOOD,CHICKEN XXXXX - O
7,4532.39,67.32,0.18,LAKEWOOD,DRUMSTICKS NNNN
8,50.08,7.08,0.13,LAKEWOOD,FILLET QQQQ
9,415.67,20.39,0.18,RICHMOND CA,CHICKEN XXXXX - O
10,9978.77,99.89,0.12,RICHMOND CA,DRUMSTICKS NNNN
11,234.25,15.31,0.19,RICHMOND CA,FILLET QQQQ
12,3099.57,55.67,0.23,S SAN FRANCISCO BUS CTR,BEEF OOOO - GT
13,1591.84,39.90,0.22,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN

In [19]:
from functools import reduce

data_frames = [Er_LSTM, Er_prophet, Er_Sarima]

df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Location', 'Item'],
                                            how='inner'), data_frames)

In [20]:
df_merged

,MSE_LSTM,RMSE_LSTM,MAPE_LSTM,Location,Item,MSE_prophet,RMSE_prophet,MAPE_prophet,MSE_SARIMA,RMSE_SARIMA,MAPE_SARIMA
0,1444.41,38.01,0.99,FREMONT,CHICKEN XXXXX - O,295.62,17.19,0.45,391.89,19.80,0.23
1,365294.20,604.40,1.00,FREMONT,DRUMSTICKS NNNN,16555.51,128.67,0.19,11231.42,105.98,0.14
2,1828.06,42.76,0.98,FREMONT,FILLET QQQQ,135.13,11.62,0.22,59.18,7.69,0.11
3,845.68,29.08,0.99,HAYWARD,CHICKEN XXXXX - O,510.73,22.60,0.62,329.02,18.14,0.24
4,318903.18,564.72,1.00,HAYWARD,DRUMSTICKS NNNN,22055.81,148.51,0.23,13497.76,116.18,0.15
5,3332.17,57.72,0.99,HAYWARD,FILLET QQQQ,502.27,22.41,0.33,81.83,9.05,0.13
6,1174.56,34.27,0.99,LAKEWOOD,CHICKEN XXXXX - O,161.95,12.73,0.31,135.44,11.64,0.22
7,90862.71,301.43,1.00,LAKEWOOD,DRUMSTICKS NNNN,13459.35,116.01,0.38,4532.39,67.32,0.18
8,2430.87,49.30,0.99,LAKEWOOD,FILLET QQQQ,114.78,10.71,0.17,50.08,7.08,0.13
9,3986.17,63.14,1.00,RICHMOND CA,CHICKEN XXXXX - O,524.41,22.90,0.33,415.67,20.39,0.18
10,439233.02,662.75,1.00,RICHMOND CA,DRUMSTICKS NNNN,17716.03,133.10,0.19,9978.77,99.89,0.12
11,4224.06,64.99,0.99,RICHMOND CA,FILLET QQQQ,813.07,28.51,0.34,234.25,15.31,0.19
12,123492.13,351.41,0.99,S SAN FRANCISCO BUS CTR,BEEF OOOO - GT,3469.55,58.90,0.15,3099.57,55.67,0.23
13,17441.70,132.07,1.00,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,1287.69,35.88,0.17,1591.84,39.90,0.22

In [21]:
df_merged.columns

Index(['MSE_LSTM', 'RMSE_LSTM', 'MAPE_LSTM', 'Location', 'Item', 'MSE_prophet',
       'RMSE_prophet', 'MAPE_prophet', 'MSE_SARIMA', 'RMSE_SARIMA',
       'MAPE_SARIMA'],
      dtype='object')

In [22]:
df_merged= df_merged.reindex(columns=['Location', 'Item', 'MSE_LSTM', 'RMSE_LSTM', 'MAPE_LSTM', 'MSE_prophet', 'RMSE_prophet', 'MAPE_prophet', 'MSE_SARIMA', 'RMSE_SARIMA','MAPE_SARIMA'])

In [23]:
df_merged

,Location,Item,MSE_LSTM,RMSE_LSTM,MAPE_LSTM,MSE_prophet,RMSE_prophet,MAPE_prophet,MSE_SARIMA,RMSE_SARIMA,MAPE_SARIMA
0,FREMONT,CHICKEN XXXXX - O,1444.41,38.01,0.99,295.62,17.19,0.45,391.89,19.80,0.23
1,FREMONT,DRUMSTICKS NNNN,365294.20,604.40,1.00,16555.51,128.67,0.19,11231.42,105.98,0.14
2,FREMONT,FILLET QQQQ,1828.06,42.76,0.98,135.13,11.62,0.22,59.18,7.69,0.11
3,HAYWARD,CHICKEN XXXXX - O,845.68,29.08,0.99,510.73,22.60,0.62,329.02,18.14,0.24
4,HAYWARD,DRUMSTICKS NNNN,318903.18,564.72,1.00,22055.81,148.51,0.23,13497.76,116.18,0.15
5,HAYWARD,FILLET QQQQ,3332.17,57.72,0.99,502.27,22.41,0.33,81.83,9.05,0.13
6,LAKEWOOD,CHICKEN XXXXX - O,1174.56,34.27,0.99,161.95,12.73,0.31,135.44,11.64,0.22
7,LAKEWOOD,DRUMSTICKS NNNN,90862.71,301.43,1.00,13459.35,116.01,0.38,4532.39,67.32,0.18
8,LAKEWOOD,FILLET QQQQ,2430.87,49.30,0.99,114.78,10.71,0.17,50.08,7.08,0.13
9,RICHMOND CA,CHICKEN XXXXX - O,3986.17,63.14,1.00,524.41,22.90,0.33,415.67,20.39,0.18
10,RICHMOND CA,DRUMSTICKS NNNN,439233.02,662.75,1.00,17716.03,133.10,0.19,9978.77,99.89,0.12
11,RICHMOND CA,FILLET QQQQ,4224.06,64.99,0.99,813.07,28.51,0.34,234.25,15.31,0.19
12,S SAN FRANCISCO BUS CTR,BEEF OOOO - GT,123492.13,351.41,0.99,3469.55,58.90,0.15,3099.57,55.67,0.23
13,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,17441.70,132.07,1.00,1287.69,35.88,0.17,1591.84,39.90,0.22

In [24]:
df_merged.to_excel('Combine_Error_Output_Weekly_All.xlsx', index=False)