In [35]:
import pandas as pd
import numpy as np

In [68]:
df_inventry= pd.read_excel('C:\\Users\\Ramshankar\\OneDrive - iLink Systems Inc\\Documents\\Costco\\Dataset\\Inventory data\\combined_inventory_data20.xlsx', index_col ='Date',parse_dates = True)

In [69]:
df_inventry.shape

(1780, 10)

In [70]:
df_inventry.head()

,Location,Item,OH Quantity,OH Amount,On Order Quantity,On Order Amount,In Transit Quantity,In Transit Amount,NSI Quantity,NSI Amount
Date,,,,,,,,,,
2020-01-01,RICHMOND CA,Chicken XXXXX-O,164,818.36,0,0.00,0,0.00,0,0
2020-01-01,HAYWARD,Chicken XXXXX-O,26,129.74,0,0.00,96,479.04,0,0
2020-01-01,LAKEWOOD,Chicken XXXXX-O,56,279.44,45,224.55,46,229.54,0,0
2020-01-02,HAYWARD,Chicken XXXXX-O,31,154.69,0,0.00,0,0.00,0,0
2020-01-02,RICHMOND CA,Chicken XXXXX-O,120,598.80,0,0.00,0,0.00,0,0

In [71]:
#converting to weekly 

df_weekly= df_inventry.groupby(['Location', 'Item']).resample('W').mean()

In [72]:
df_weekly.head()

                                     OH Quantity    OH Amount  \
Location Item            Date
FREMONT  Chicken XXXXX-O 2020-01-05    28.200000   140.718000
                         2020-01-12    49.428571   246.648571
                         2020-01-19   240.714286  1201.164286
                         2020-01-26    51.000000   254.490000
                         2020-02-02    69.800000   348.302000

                                     On Order Quantity  On Order Amount  \
Location Item            Date
FREMONT  Chicken XXXXX-O 2020-01-05          27.000000       134.730000
                         2020-01-12          77.142857       384.942857
                         2020-01-19         141.428571       705.728571
                         2020-01-26          54.000000       269.460000
                         2020-02-02          18.000000        89.820000

                                     In Transit Quantity  In Transit Amount  \
Location Item            Date
FREMONT  Chicken XXXXX-O 2020-01-05            36.600000         182.634000
                         2020-01-12            49.571429         247.361429
                         2020-01-19            42.285714         211.005714
                         2020-01-26            26.400000         131.736000
                         2020-02-02            45.400000         226.546000

                                     NSI Quantity  NSI Amount
Location Item            Date
FREMONT  Chicken XXXXX-O 2020-01-05           0.0         0.0
                         2020-01-12           0.0         0.0
                         2020-01-19           0.0         0.0
                         2020-01-26           0.0         0.0
                         2020-02-02           0.0         0.0

In [73]:
df_weekly= df_weekly.reset_index()

In [74]:
df_weekly

,Location,Item,Date,OH Quantity,OH Amount,On Order Quantity,On Order Amount,In Transit Quantity,In Transit Amount,NSI Quantity,NSI Amount
0,FREMONT,Chicken XXXXX-O,2020-01-05,28.200000,140.718000,27.000000,134.730000,36.600000,182.634000,0.0,0.0
1,FREMONT,Chicken XXXXX-O,2020-01-12,49.428571,246.648571,77.142857,384.942857,49.571429,247.361429,0.0,0.0
2,FREMONT,Chicken XXXXX-O,2020-01-19,240.714286,1201.164286,141.428571,705.728571,42.285714,211.005714,0.0,0.0
3,FREMONT,Chicken XXXXX-O,2020-01-26,51.000000,254.490000,54.000000,269.460000,26.400000,131.736000,0.0,0.0
4,FREMONT,Chicken XXXXX-O,2020-02-02,69.800000,348.302000,18.000000,89.820000,45.400000,226.546000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
424,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,2020-07-12,245.166667,242.715000,0.000000,0.000000,80.833333,80.025000,0.0,0.0
425,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,2020-07-19,350.142857,346.641429,122.142857,120.921429,97.285714,96.312857,0.0,0.0
426,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,2020-07-26,261.428571,258.814286,81.428571,80.614286,67.571429,66.895714,0.0,0.0
427,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,2020-08-02,151.428571,149.914286,16.285714,16.122857,14.857143,14.708571,0.0,0.0
428,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,2020-08-09,172.142857,170.421429,162.857143,161.228571,55.142857,54.591429,0.0,0.0

In [75]:
df_weekly['OH Quantity'].isnull().sum()

95

In [80]:
df_weekly[df_weekly['Item']== 'FILLET QQQQ']

,Location,Item,Date,OH Quantity,OH Amount,On Order Quantity,On Order Amount,In Transit Quantity,In Transit Amount,NSI Quantity,NSI Amount
64,FREMONT,FILLET QQQQ,2020-01-12,5.000000,34.950000,0.0,0.0,0.0,0.0,0.0,0.0
65,FREMONT,FILLET QQQQ,2020-01-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,FREMONT,FILLET QQQQ,2020-01-26,46.333333,347.036667,0.0,0.0,0.0,0.0,0.0,0.0
67,FREMONT,FILLET QQQQ,2020-02-02,31.000000,232.190000,0.0,0.0,0.0,0.0,0.0,0.0
68,FREMONT,FILLET QQQQ,2020-02-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
360,RICHMOND CA,FILLET QQQQ,2020-06-21,2.000000,14.980000,0.0,0.0,0.0,0.0,0.0,0.0
361,RICHMOND CA,FILLET QQQQ,2020-06-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
362,RICHMOND CA,FILLET QQQQ,2020-07-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
363,RICHMOND CA,FILLET QQQQ,2020-07-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
364,RICHMOND CA,FILLET QQQQ,2020-07-19,1.000000,7.490000,0.0,0.0,0.0,0.0,0.0,0.0

In [84]:

df_weekly1 = df_weekly.replace(np.nan, 0)

In [85]:
df_weekly1.isnull().sum()

Location               0
Item                   0
Date                   0
OH Quantity            0
OH Amount              0
On Order Quantity      0
On Order Amount        0
In Transit Quantity    0
In Transit Amount      0
NSI Quantity           0
NSI Amount             0
dtype: int64

In [87]:
df_weekly1.shape

(429, 11)

__On-Order Qty__ - No. of items(Qty) that are just ordered the vendors to supply Costco. 

__In-Transit Qty__ - No. of items(Qty) those are already ordered and shipped by the vendors.

__NSI (Non-Saleable Items)__. Items those are returned by the customers becuase of damages which cannot be repaired and sold again

In [88]:
df_weekly1= df_weekly1.reindex(columns= ['Date', 'Location', 'Item', 'OH Quantity', 'On Order Quantity', 'In Transit Quantity', 'NSI Quantity'])

In [89]:
df_weekly1

,Date,Location,Item,OH Quantity,On Order Quantity,In Transit Quantity,NSI Quantity
0,2020-01-05,FREMONT,Chicken XXXXX-O,28.200000,27.000000,36.600000,0.0
1,2020-01-12,FREMONT,Chicken XXXXX-O,49.428571,77.142857,49.571429,0.0
2,2020-01-19,FREMONT,Chicken XXXXX-O,240.714286,141.428571,42.285714,0.0
3,2020-01-26,FREMONT,Chicken XXXXX-O,51.000000,54.000000,26.400000,0.0
4,2020-02-02,FREMONT,Chicken XXXXX-O,69.800000,18.000000,45.400000,0.0
...,...,...,...,...,...,...,...
424,2020-07-12,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,245.166667,0.000000,80.833333,0.0
425,2020-07-19,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,350.142857,122.142857,97.285714,0.0
426,2020-07-26,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,261.428571,81.428571,67.571429,0.0
427,2020-08-02,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,151.428571,16.285714,14.857143,0.0
428,2020-08-09,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,172.142857,162.857143,55.142857,0.0

In [91]:
# df_weekly1.to_excel('Weekly_inventry.xlsx', index= False)

In [92]:
## Aploading Sales Inventory Weekly data

df_frct= pd.read_excel('C:\\Users\\Ramshankar\\OneDrive - iLink Systems Inc\\Documents\\Costco\\Dataset\\Final Output\\Weekly\\SARIMA\\Final\\All_Output_SARIMA_without_bound_weekly.xlsx')

In [103]:
df_frct=  df_frct[df_frct['Date'] <= '2020-08-09']

In [104]:
df_frct

,Date,Location,Item,Quantity,Amount,Forecasted_Qty
0,2020-01-05,FREMONT,CHICKEN XXXXX - O,37.023380,184.746667,37.009270
1,2020-01-12,FREMONT,CHICKEN XXXXX - O,41.889780,209.030000,41.883290
2,2020-01-19,FREMONT,CHICKEN XXXXX - O,86.101210,429.645000,86.066259
3,2020-01-26,FREMONT,CHICKEN XXXXX - O,63.834068,318.532000,63.844131
4,2020-02-02,FREMONT,CHICKEN XXXXX - O,45.320977,226.151667,45.337062
...,...,...,...,...,...,...
2002,2020-07-12,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,167.520202,165.845000,191.971386
2003,2020-07-19,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,183.188557,181.356667,264.613031
2004,2020-07-26,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,157.516837,155.941667,138.771282
2005,2020-08-02,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,229.469700,200.458333,138.652902
2006,2020-08-09,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,159.942750,158.343333,138.786065

In [111]:
# df_frct.to_excel('Weekly_sales20.xlsx', index= False)

In [114]:
df_weekly1['Item'] = df_weekly1['Item'].replace('Chicken XXXXX-O', 'CHICKEN XXXXX - O')

In [115]:
df_weekly1['Item']== 'CHICKEN XXXXX - O'

0       True
1       True
2       True
3       True
4       True
       ...
424    False
425    False
426    False
427    False
428    False
Name: Item, Length: 429, dtype: bool

In [116]:
data_merge= pd.merge(df_weekly1,df_frct, on=['Date', 'Location', 'Item'], how='inner')

In [117]:
data_merge

,Date,Location,Item,OH Quantity,On Order Quantity,In Transit Quantity,NSI Quantity,Quantity,Amount,Forecasted_Qty
0,2020-01-05,FREMONT,CHICKEN XXXXX - O,28.200000,27.000000,36.600000,0.0,37.023380,184.746667,37.009270
1,2020-01-12,FREMONT,CHICKEN XXXXX - O,49.428571,77.142857,49.571429,0.0,41.889780,209.030000,41.883290
2,2020-01-19,FREMONT,CHICKEN XXXXX - O,240.714286,141.428571,42.285714,0.0,86.101210,429.645000,86.066259
3,2020-01-26,FREMONT,CHICKEN XXXXX - O,51.000000,54.000000,26.400000,0.0,63.834068,318.532000,63.844131
4,2020-02-02,FREMONT,CHICKEN XXXXX - O,69.800000,18.000000,45.400000,0.0,45.320977,226.151667,45.337062
...,...,...,...,...,...,...,...,...,...,...
424,2020-07-12,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,245.166667,0.000000,80.833333,0.0,167.520202,165.845000,191.971386
425,2020-07-19,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,350.142857,122.142857,97.285714,0.0,183.188557,181.356667,264.613031
426,2020-07-26,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,261.428571,81.428571,67.571429,0.0,157.516837,155.941667,138.771282
427,2020-08-02,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,151.428571,16.285714,14.857143,0.0,229.469700,200.458333,138.652902
428,2020-08-09,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,172.142857,162.857143,55.142857,0.0,159.942750,158.343333,138.786065

In [124]:
# Stocks = MAX(0, D(LT) - On hand - InTrn(LT) + PndSales(LT)).

data_merge['Stock_Qty'] = round(data_merge['Forecasted_Qty'] +data_merge['On Order Quantity'] - data_merge['OH Quantity']
                                -data_merge['In Transit Quantity'], 0)

In [125]:
data_merge

,Date,Location,Item,OH Quantity,On Order Quantity,In Transit Quantity,NSI Quantity,Quantity,Amount,Forecasted_Qty,Stocks,Stock_Qty
0,2020-01-05,FREMONT,CHICKEN XXXXX - O,28.200000,27.000000,36.600000,0.0,37.023380,184.746667,37.009270,-1.0,-1.0
1,2020-01-12,FREMONT,CHICKEN XXXXX - O,49.428571,77.142857,49.571429,0.0,41.889780,209.030000,41.883290,20.0,20.0
2,2020-01-19,FREMONT,CHICKEN XXXXX - O,240.714286,141.428571,42.285714,0.0,86.101210,429.645000,86.066259,-56.0,-56.0
3,2020-01-26,FREMONT,CHICKEN XXXXX - O,51.000000,54.000000,26.400000,0.0,63.834068,318.532000,63.844131,40.0,40.0
4,2020-02-02,FREMONT,CHICKEN XXXXX - O,69.800000,18.000000,45.400000,0.0,45.320977,226.151667,45.337062,-52.0,-52.0
...,...,...,...,...,...,...,...,...,...,...,...,...
424,2020-07-12,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,245.166667,0.000000,80.833333,0.0,167.520202,165.845000,191.971386,-134.0,-134.0
425,2020-07-19,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,350.142857,122.142857,97.285714,0.0,183.188557,181.356667,264.613031,-61.0,-61.0
426,2020-07-26,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,261.428571,81.428571,67.571429,0.0,157.516837,155.941667,138.771282,-109.0,-109.0
427,2020-08-02,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,151.428571,16.285714,14.857143,0.0,229.469700,200.458333,138.652902,-11.0,-11.0
428,2020-08-09,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,172.142857,162.857143,55.142857,0.0,159.942750,158.343333,138.786065,74.0,74.0

In [155]:
conditions = [
    (data_merge['Stock_Qty'] <= 0),
    (data_merge['Stock_Qty'] > 0) & (data_merge['Stock_Qty'] <= 25),
    (data_merge['Stock_Qty'] > 25)]

values = ['Understock', 'Onhand', 'Overstock']

data_merge["Stocks"]=np.select(conditions, values)

In [156]:
data_merge[data_merge['Stocks']=='Understock']

,Date,Location,Item,OH Quantity,On Order Quantity,In Transit Quantity,NSI Quantity,Quantity,Amount,Forecasted_Qty,Stocks,Stock_Qty,Stock_flag
0,2020-01-05,FREMONT,CHICKEN XXXXX - O,28.200000,27.000000,36.600000,0.0,37.023380,184.746667,37.009270,Understock,-1.0,2
2,2020-01-19,FREMONT,CHICKEN XXXXX - O,240.714286,141.428571,42.285714,0.0,86.101210,429.645000,86.066259,Understock,-56.0,2
4,2020-02-02,FREMONT,CHICKEN XXXXX - O,69.800000,18.000000,45.400000,0.0,45.320977,226.151667,45.337062,Understock,-52.0,2
5,2020-02-09,FREMONT,CHICKEN XXXXX - O,106.333333,75.000000,23.000000,0.0,44.333068,221.222000,44.336996,Understock,-10.0,2
6,2020-02-16,FREMONT,CHICKEN XXXXX - O,67.714286,25.714286,24.428571,0.0,48.167670,240.356667,48.165537,Understock,-18.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,2020-08-09,S SAN FRANCISCO BUS CTR,BEEF OOOO - GT,1046.571429,0.000000,0.000000,0.0,188.477317,339.978333,239.966514,Understock,-807.0,2
424,2020-07-12,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,245.166667,0.000000,80.833333,0.0,167.520202,165.845000,191.971386,Understock,-134.0,2
425,2020-07-19,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,350.142857,122.142857,97.285714,0.0,183.188557,181.356667,264.613031,Understock,-61.0,2
426,2020-07-26,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,261.428571,81.428571,67.571429,0.0,157.516837,155.941667,138.771282,Understock,-109.0,2
427,2020-08-02,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,151.428571,16.285714,14.857143,0.0,229.469700,200.458333,138.652902,Understock,-11.0,2

In [157]:
def stock_flag(row):
    if row['Stocks']== 'Overstock':
        return 1
    elif row['Stocks']== 'Understock':
        return 2
    elif row['Stocks']=='Onhand':
        return 3

In [158]:
data_merge["Stock_flag"] = data_merge.apply(stock_flag,axis=1)

In [159]:
data_merge

,Date,Location,Item,OH Quantity,On Order Quantity,In Transit Quantity,NSI Quantity,Quantity,Amount,Forecasted_Qty,Stocks,Stock_Qty,Stock_flag
0,2020-01-05,FREMONT,CHICKEN XXXXX - O,28.200000,27.000000,36.600000,0.0,37.023380,184.746667,37.009270,Understock,-1.0,2
1,2020-01-12,FREMONT,CHICKEN XXXXX - O,49.428571,77.142857,49.571429,0.0,41.889780,209.030000,41.883290,Onhand,20.0,3
2,2020-01-19,FREMONT,CHICKEN XXXXX - O,240.714286,141.428571,42.285714,0.0,86.101210,429.645000,86.066259,Understock,-56.0,2
3,2020-01-26,FREMONT,CHICKEN XXXXX - O,51.000000,54.000000,26.400000,0.0,63.834068,318.532000,63.844131,Onhand,40.0,3
4,2020-02-02,FREMONT,CHICKEN XXXXX - O,69.800000,18.000000,45.400000,0.0,45.320977,226.151667,45.337062,Understock,-52.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
424,2020-07-12,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,245.166667,0.000000,80.833333,0.0,167.520202,165.845000,191.971386,Understock,-134.0,2
425,2020-07-19,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,350.142857,122.142857,97.285714,0.0,183.188557,181.356667,264.613031,Understock,-61.0,2
426,2020-07-26,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,261.428571,81.428571,67.571429,0.0,157.516837,155.941667,138.771282,Understock,-109.0,2
427,2020-08-02,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,151.428571,16.285714,14.857143,0.0,229.469700,200.458333,138.652902,Understock,-11.0,2
428,2020-08-09,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,172.142857,162.857143,55.142857,0.0,159.942750,158.343333,138.786065,Overstock,74.0,1

In [160]:
data_merge.to_excel('inventory_stock20.xlsx', index=False)

## analysing Sales Data

In [145]:
df_frct

,Date,Location,Item,Quantity,Amount,Forecasted_Qty
0,2020-01-05,FREMONT,CHICKEN XXXXX - O,37.023380,184.746667,37.009270
1,2020-01-12,FREMONT,CHICKEN XXXXX - O,41.889780,209.030000,41.883290
2,2020-01-19,FREMONT,CHICKEN XXXXX - O,86.101210,429.645000,86.066259
3,2020-01-26,FREMONT,CHICKEN XXXXX - O,63.834068,318.532000,63.844131
4,2020-02-02,FREMONT,CHICKEN XXXXX - O,45.320977,226.151667,45.337062
...,...,...,...,...,...,...
2002,2020-07-12,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,167.520202,165.845000,191.971386
2003,2020-07-19,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,183.188557,181.356667,264.613031
2004,2020-07-26,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,157.516837,155.941667,138.771282
2005,2020-08-02,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,229.469700,200.458333,138.652902
2006,2020-08-09,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,159.942750,158.343333,138.786065

In [146]:
df_frct["stock_percentage"] = ((df_frct["Forecasted_Qty"]-df_frct["Quantity"])/df_frct["Quantity"])*100

C:\Users\Ramshankar\AppData\Local\Temp\ipykernel_2036\3887910872.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_frct["stock_percentage"] = ((df_frct["Forecasted_Qty"]-df_frct["Quantity"])/df_frct["Quantity"])*100

In [147]:
df_frct

,Date,Location,Item,Quantity,Amount,Forecasted_Qty,stock_percentage
0,2020-01-05,FREMONT,CHICKEN XXXXX - O,37.023380,184.746667,37.009270,-0.038111
1,2020-01-12,FREMONT,CHICKEN XXXXX - O,41.889780,209.030000,41.883290,-0.015492
2,2020-01-19,FREMONT,CHICKEN XXXXX - O,86.101210,429.645000,86.066259,-0.040593
3,2020-01-26,FREMONT,CHICKEN XXXXX - O,63.834068,318.532000,63.844131,0.015764
4,2020-02-02,FREMONT,CHICKEN XXXXX - O,45.320977,226.151667,45.337062,0.035492
...,...,...,...,...,...,...,...
2002,2020-07-12,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,167.520202,165.845000,191.971386,14.595962
2003,2020-07-19,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,183.188557,181.356667,264.613031,44.448450
2004,2020-07-26,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,157.516837,155.941667,138.771282,-11.900668
2005,2020-08-02,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,229.469700,200.458333,138.652902,-39.576815
2006,2020-08-09,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,159.942750,158.343333,138.786065,-13.227661

In [149]:
conditions = [
    (df_frct['stock_percentage'] <= 0),
    (df_frct['stock_percentage'] > 0) & (df_frct['stock_percentage'] <= 25),
    (df_frct['stock_percentage'] > 25)]

In [150]:
values = ['Understock', 'Onhand', 'Overstock']
df_frct["stock"]=np.select(conditions, values)

C:\Users\Ramshankar\AppData\Local\Temp\ipykernel_2036\3826149354.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_frct["stock"]=np.select(conditions, values)

In [151]:
def stock_flag(row):
    if row["stock"]== 'Overstock':
        return 1
    elif row["stock"]== 'Understock':
        return 2
    if row["stock"]== 'Onhand':
        return 3

In [152]:
df_frct["stock_flag"] = df_frct.apply(stock_flag,axis=1)

C:\Users\Ramshankar\AppData\Local\Temp\ipykernel_2036\1995343169.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_frct["stock_flag"] = df_frct.apply(stock_flag,axis=1)

In [153]:
df_frct

,Date,Location,Item,Quantity,Amount,Forecasted_Qty,stock_percentage,stock,stock_flag
0,2020-01-05,FREMONT,CHICKEN XXXXX - O,37.023380,184.746667,37.009270,-0.038111,Understock,2
1,2020-01-12,FREMONT,CHICKEN XXXXX - O,41.889780,209.030000,41.883290,-0.015492,Understock,2
2,2020-01-19,FREMONT,CHICKEN XXXXX - O,86.101210,429.645000,86.066259,-0.040593,Understock,2
3,2020-01-26,FREMONT,CHICKEN XXXXX - O,63.834068,318.532000,63.844131,0.015764,Onhand,3
4,2020-02-02,FREMONT,CHICKEN XXXXX - O,45.320977,226.151667,45.337062,0.035492,Onhand,3
...,...,...,...,...,...,...,...,...,...
2002,2020-07-12,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,167.520202,165.845000,191.971386,14.595962,Onhand,3
2003,2020-07-19,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,183.188557,181.356667,264.613031,44.448450,Overstock,1
2004,2020-07-26,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,157.516837,155.941667,138.771282,-11.900668,Understock,2
2005,2020-08-02,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,229.469700,200.458333,138.652902,-39.576815,Understock,2
2006,2020-08-09,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,159.942750,158.343333,138.786065,-13.227661,Understock,2

In [154]:
# df_frct.to_excel('Sales_stock20.xlsx', index=False)