In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Read Data 


data= pd.read_excel('C:\\Users\\Ramshankar\\OneDrive - iLink Systems Inc\\Documents\\Costco\\Dataset\\Final Output\\Weekly\\Data_Weekly.xlsx', index_col ='Date',parse_dates = True)

In [3]:
import copy

data2= copy.deepcopy(data)

In [4]:
data2

                           Location               Item    Quantity      Amount
Date
2020-01-05                  FREMONT  CHICKEN XXXXX - O   37.023380  184.746667
2020-01-12                  FREMONT  CHICKEN XXXXX - O   41.889780  209.030000
2020-01-19                  FREMONT  CHICKEN XXXXX - O   86.101210  429.645000
2020-01-26                  FREMONT  CHICKEN XXXXX - O   63.834068  318.532000
2020-02-02                  FREMONT  CHICKEN XXXXX - O   45.320977  226.151667
...                             ...                ...         ...         ...
2022-10-30  S SAN FRANCISCO BUS CTR    DRUMSTICKS NNNN  113.512925  146.431667
2022-11-06  S SAN FRANCISCO BUS CTR    DRUMSTICKS NNNN   97.404393  125.651667
2022-11-13  S SAN FRANCISCO BUS CTR    DRUMSTICKS NNNN   93.240305  120.280000
2022-11-20  S SAN FRANCISCO BUS CTR    DRUMSTICKS NNNN   94.381132  121.751667
2022-11-27  S SAN FRANCISCO BUS CTR    DRUMSTICKS NNNN   88.660853  114.372500

[2127 rows x 4 columns]

In [5]:
data3= data2[(data2['Location']== 'FREMONT') & (data2['Item']=='CHICKEN XXXXX - O')]

In [6]:
data3.shape

(152, 4)

In [7]:
# item_data= item_data.drop(['Location', 'Item', 'Amount'], axis=1)
# time_series = item_data.index
train = data3.iloc[:len(data3)-31]
test = data3.iloc[len(data3)-31:] # set 31 weeks for testing
        
from statsmodels.tsa.statespace.sarimax import SARIMAX
  
model = SARIMAX(train['Quantity'],order = (1, 1, 1),seasonal_order =(2, 1, 1, 12))
  
result = model.fit()
    
forecast = result.predict(start = 1, end = (len(data3)), typ = 'levels').rename('Forecast')

C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)

In [8]:
result_df = (result.get_prediction(start= 1, end= 182).summary_frame(alpha=0.25))
# result_df2 = (result.get_prediction(start= '2020-01-05', end= len(data3)).summary_frame(alpha=0.25))

In [9]:
timeset= data3.index

In [10]:
timeset

DatetimeIndex(['2020-01-05', '2020-01-12', '2020-01-19', '2020-01-26',
               '2020-02-02', '2020-02-09', '2020-02-16', '2020-02-23',
               '2020-03-01', '2020-03-08',
               ...
               '2022-09-25', '2022-10-02', '2022-10-09', '2022-10-16',
               '2022-10-23', '2022-10-30', '2022-11-06', '2022-11-13',
               '2022-11-20', '2022-11-27'],
              dtype='datetime64[ns]', name='Date', length=152, freq=None)

In [140]:
# n_past= seq_size= 1          # 1 means-1 week back
# n_days_for_prediction = 182  #let us predict past 12 days +31 

date_new = pd.date_range(list(timeset)[1], periods=n_days_for_prediction, freq='W').tolist()

# # Convert timestamp to date
# forecast_dates = []
# for time_i in date_new:
#     forecast_dates.append(time_i.date())
    
# #pandas dadafame 
# df_forecast= pd.DataFrame({'Date':np.array(forecast_dates)})
# df_forecast['Date']=pd.to_datetime(df_forecast['Date'])

In [141]:
date_new

[Timestamp('2020-01-12 00:00:00', freq='W-SUN'),
 Timestamp('2020-01-19 00:00:00', freq='W-SUN'),
 Timestamp('2020-01-26 00:00:00', freq='W-SUN'),
 Timestamp('2020-02-02 00:00:00', freq='W-SUN'),
 Timestamp('2020-02-09 00:00:00', freq='W-SUN'),
 Timestamp('2020-02-16 00:00:00', freq='W-SUN'),
 Timestamp('2020-02-23 00:00:00', freq='W-SUN'),
 Timestamp('2020-03-01 00:00:00', freq='W-SUN'),
 Timestamp('2020-03-08 00:00:00', freq='W-SUN'),
 Timestamp('2020-03-15 00:00:00', freq='W-SUN'),
 Timestamp('2020-03-22 00:00:00', freq='W-SUN'),
 Timestamp('2020-03-29 00:00:00', freq='W-SUN'),
 Timestamp('2020-04-05 00:00:00', freq='W-SUN'),
 Timestamp('2020-04-12 00:00:00', freq='W-SUN'),
 Timestamp('2020-04-19 00:00:00', freq='W-SUN'),
 Timestamp('2020-04-26 00:00:00', freq='W-SUN'),
 Timestamp('2020-05-03 00:00:00', freq='W-SUN'),
 Timestamp('2020-05-10 00:00:00', freq='W-SUN'),
 Timestamp('2020-05-17 00:00:00', freq='W-SUN'),
 Timestamp('2020-05-24 00:00:00', freq='W-SUN'),
 Timestamp('2020-05-31 00:00:00', freq='W-SUN'),
 Timestamp('2020-06-07 00:00:00', freq='W-SUN'),
 Timestamp('2020-06-14 00:00:00', freq='W-SUN'),
 Timestamp('2020-06-21 00:00:00', freq='W-SUN'),
 Timestamp('2020-06-28 00:00:00', freq='W-SUN'),
 Timestamp('2020-07-05 00:00:00', freq='W-SUN'),
 Timestamp('2020-07-12 00:00:00', freq='W-SUN'),
 Timestamp('2020-07-19 00:00:00', freq='W-SUN'),
 Timestamp('2020-07-26 00:00:00', freq='W-SUN'),
 Timestamp('2020-08-02 00:00:00', freq='W-SUN'),
 Timestamp('2020-08-09 00:00:00', freq='W-SUN'),
 Timestamp('2020-08-16 00:00:00', freq='W-SUN'),
 Timestamp('2020-08-23 00:00:00', freq='W-SUN'),
 Timestamp('2020-08-30 00:00:00', freq='W-SUN'),
 Timestamp('2020-09-06 00:00:00', freq='W-SUN'),
 Timestamp('2020-09-13 00:00:00', freq='W-SUN'),
 Timestamp('2020-09-20 00:00:00', freq='W-SUN'),
 Timestamp('2020-09-27 00:00:00', freq='W-SUN'),
 Timestamp('2020-10-04 00:00:00', freq='W-SUN'),
 Timestamp('2020-10-11 00:00:00', freq='W-SUN'),
 Timestamp('2020-10-18 00:00:00', freq='W-SUN'),
 Timestamp('2020-10-25 00:00:00', freq='W-SUN'),
 Timestamp('2020-11-01 00:00:00', freq='W-SUN'),
 Timestamp('2020-11-08 00:00:00', freq='W-SUN'),
 Timestamp('2020-11-15 00:00:00', freq='W-SUN'),
 Timestamp('2020-11-22 00:00:00', freq='W-SUN'),
 Timestamp('2020-11-29 00:00:00', freq='W-SUN'),
 Timestamp('2020-12-06 00:00:00', freq='W-SUN'),
 Timestamp('2020-12-13 00:00:00', freq='W-SUN'),
 Timestamp('2020-12-20 00:00:00', freq='W-SUN'),
 Timestamp('2020-12-27 00:00:00', freq='W-SUN'),
 Timestamp('2021-01-03 00:00:00', freq='W-SUN'),
 Timestamp('2021-01-10 00:00:00', freq='W-SUN'),
 Timestamp('2021-01-17 00:00:00', freq='W-SUN'),
 Timestamp('2021-01-24 00:00:00', freq='W-SUN'),
 Timestamp('2021-01-31 00:00:00', freq='W-SUN'),
 Timestamp('2021-02-07 00:00:00', freq='W-SUN'),
 Timestamp('2021-02-14 00:00:00', freq='W-SUN'),
 Timestamp('2021-02-21 00:00:00', freq='W-SUN'),
 Timestamp('2021-02-28 00:00:00', freq='W-SUN'),
 Timestamp('2021-03-07 00:00:00', freq='W-SUN'),
 Timestamp('2021-03-14 00:00:00', freq='W-SUN'),
 Timestamp('2021-03-21 00:00:00', freq='W-SUN'),
 Timestamp('2021-03-28 00:00:00', freq='W-SUN'),
 Timestamp('2021-04-04 00:00:00', freq='W-SUN'),
 Timestamp('2021-04-11 00:00:00', freq='W-SUN'),
 Timestamp('2021-04-18 00:00:00', freq='W-SUN'),
 Timestamp('2021-04-25 00:00:00', freq='W-SUN'),
 Timestamp('2021-05-02 00:00:00', freq='W-SUN'),
 Timestamp('2021-05-09 00:00:00', freq='W-SUN'),
 Timestamp('2021-05-16 00:00:00', freq='W-SUN'),
 Timestamp('2021-05-23 00:00:00', freq='W-SUN'),
 Timestamp('2021-05-30 00:00:00', freq='W-SUN'),
 Timestamp('2021-06-06 00:00:00', freq='W-SUN'),
 Timestamp('2021-06-13 00:00:00', freq='W-SUN'),
 Timestamp('2021-06-20 00:00:00', freq='W-SUN'),
 Timestamp('2021-06-27 00:00:00', freq='W-SUN'),
 Timestamp('2021-07-04 00:00:00', freq='W-SUN'),
 Timestamp('2021-07-11 00:00:00', freq='W-SUN'),
 Timestamp('2021-07-18 00:00:00', freq='W-SUN'),
 Timestamp('2021-07-25 00:00:00', freq='W-SUN'),
 Timestamp('2021-08-01 00:00:00', freq='W-SUN'),
 Timestamp('2021-08-08 00:00:00', freq='W-SUN'),
 Timestamp('2021-08-15 00:00:00', freq='W-SUN'),
 Timestamp('2021-08-22 00:00:00', freq='W-SUN'),
 Timestamp('2021-08-29 00:00:00', freq='W-SUN'),
 Timestamp('2021-09-05 00:00:00', freq='W-SUN'),
 Timestamp('2021-09-12 00:00:00', freq='W-SUN'),
 Timestamp('2021-09-19 00:00:00', freq='W-SUN'),
 Timestamp('2021-09-26 00:00:00', freq='W-SUN'),
 Timestamp('2021-10-03 00:00:00', freq='W-SUN'),
 Timestamp('2021-10-10 00:00:00', freq='W-SUN'),
 Timestamp('2021-10-17 00:00:00', freq='W-SUN'),
 Timestamp('2021-10-24 00:00:00', freq='W-SUN'),
 Timestamp('2021-10-31 00:00:00', freq='W-SUN'),
 Timestamp('2021-11-07 00:00:00', freq='W-SUN'),
 Timestamp('2021-11-14 00:00:00', freq='W-SUN'),
 Timestamp('2021-11-21 00:00:00', freq='W-SUN'),
 Timestamp('2021-11-28 00:00:00', freq='W-SUN'),
 Timestamp('2021-12-05 00:00:00', freq='W-SUN'),
 Timestamp('2021-12-12 00:00:00', freq='W-SUN'),
 Timestamp('2021-12-19 00:00:00', freq='W-SUN'),
 Timestamp('2021-12-26 00:00:00', freq='W-SUN'),
 Timestamp('2022-01-02 00:00:00', freq='W-SUN'),
 Timestamp('2022-01-09 00:00:00', freq='W-SUN'),
 Timestamp('2022-01-16 00:00:00', freq='W-SUN'),
 Timestamp('2022-01-23 00:00:00', freq='W-SUN'),
 Timestamp('2022-01-30 00:00:00', freq='W-SUN'),
 Timestamp('2022-02-06 00:00:00', freq='W-SUN'),
 Timestamp('2022-02-13 00:00:00', freq='W-SUN'),
 Timestamp('2022-02-20 00:00:00', freq='W-SUN'),
 Timestamp('2022-02-27 00:00:00', freq='W-SUN'),
 Timestamp('2022-03-06 00:00:00', freq='W-SUN'),
 Timestamp('2022-03-13 00:00:00', freq='W-SUN'),
 Timestamp('2022-03-20 00:00:00', freq='W-SUN'),
 Timestamp('2022-03-27 00:00:00', freq='W-SUN'),
 Timestamp('2022-04-03 00:00:00', freq='W-SUN'),
 Timestamp('2022-04-10 00:00:00', freq='W-SUN'),
 Timestamp('2022-04-17 00:00:00', freq='W-SUN'),
 Timestamp('2022-04-24 00:00:00', freq='W-SUN'),
 Timestamp('2022-05-01 00:00:00', freq='W-SUN'),
 Timestamp('2022-05-08 00:00:00', freq='W-SUN'),
 Timestamp('2022-05-15 00:00:00', freq='W-SUN'),
 Timestamp('2022-05-22 00:00:00', freq='W-SUN'),
 Timestamp('2022-05-29 00:00:00', freq='W-SUN'),
 Timestamp('2022-06-05 00:00:00', freq='W-SUN'),
 Timestamp('2022-06-12 00:00:00', freq='W-SUN'),
 Timestamp('2022-06-19 00:00:00', freq='W-SUN'),
 Timestamp('2022-06-26 00:00:00', freq='W-SUN'),
 Timestamp('2022-07-03 00:00:00', freq='W-SUN'),
 Timestamp('2022-07-10 00:00:00', freq='W-SUN'),
 Timestamp('2022-07-17 00:00:00', freq='W-SUN'),
 Timestamp('2022-07-24 00:00:00', freq='W-SUN'),
 Timestamp('2022-07-31 00:00:00', freq='W-SUN'),
 Timestamp('2022-08-07 00:00:00', freq='W-SUN'),
 Timestamp('2022-08-14 00:00:00', freq='W-SUN'),
 Timestamp('2022-08-21 00:00:00', freq='W-SUN'),
 Timestamp('2022-08-28 00:00:00', freq='W-SUN'),
 Timestamp('2022-09-04 00:00:00', freq='W-SUN'),
 Timestamp('2022-09-11 00:00:00', freq='W-SUN'),
 Timestamp('2022-09-18 00:00:00', freq='W-SUN'),
 Timestamp('2022-09-25 00:00:00', freq='W-SUN'),
 Timestamp('2022-10-02 00:00:00', freq='W-SUN'),
 Timestamp('2022-10-09 00:00:00', freq='W-SUN'),
 Timestamp('2022-10-16 00:00:00', freq='W-SUN'),
 Timestamp('2022-10-23 00:00:00', freq='W-SUN'),
 Timestamp('2022-10-30 00:00:00', freq='W-SUN'),
 Timestamp('2022-11-06 00:00:00', freq='W-SUN'),
 Timestamp('2022-11-13 00:00:00', freq='W-SUN'),
 Timestamp('2022-11-20 00:00:00', freq='W-SUN'),
 Timestamp('2022-11-27 00:00:00', freq='W-SUN'),
 Timestamp('2022-12-04 00:00:00', freq='W-SUN'),
 Timestamp('2022-12-11 00:00:00', freq='W-SUN'),
 Timestamp('2022-12-18 00:00:00', freq='W-SUN'),
 Timestamp('2022-12-25 00:00:00', freq='W-SUN'),
 Timestamp('2023-01-01 00:00:00', freq='W-SUN'),
 Timestamp('2023-01-08 00:00:00', freq='W-SUN'),
 Timestamp('2023-01-15 00:00:00', freq='W-SUN'),
 Timestamp('2023-01-22 00:00:00', freq='W-SUN'),
 Timestamp('2023-01-29 00:00:00', freq='W-SUN'),
 Timestamp('2023-02-05 00:00:00', freq='W-SUN'),
 Timestamp('2023-02-12 00:00:00', freq='W-SUN'),
 Timestamp('2023-02-19 00:00:00', freq='W-SUN'),
 Timestamp('2023-02-26 00:00:00', freq='W-SUN'),
 Timestamp('2023-03-05 00:00:00', freq='W-SUN'),
 Timestamp('2023-03-12 00:00:00', freq='W-SUN'),
 Timestamp('2023-03-19 00:00:00', freq='W-SUN'),
 Timestamp('2023-03-26 00:00:00', freq='W-SUN'),
 Timestamp('2023-04-02 00:00:00', freq='W-SUN'),
 Timestamp('2023-04-09 00:00:00', freq='W-SUN'),
 Timestamp('2023-04-16 00:00:00', freq='W-SUN'),
 Timestamp('2023-04-23 00:00:00', freq='W-SUN'),
 Timestamp('2023-04-30 00:00:00', freq='W-SUN'),
 Timestamp('2023-05-07 00:00:00', freq='W-SUN'),
 Timestamp('2023-05-14 00:00:00', freq='W-SUN'),
 Timestamp('2023-05-21 00:00:00', freq='W-SUN'),
 Timestamp('2023-05-28 00:00:00', freq='W-SUN'),
 Timestamp('2023-06-04 00:00:00', freq='W-SUN'),
 Timestamp('2023-06-11 00:00:00', freq='W-SUN'),
 Timestamp('2023-06-18 00:00:00', freq='W-SUN'),
 Timestamp('2023-06-25 00:00:00', freq='W-SUN'),
 Timestamp('2023-07-02 00:00:00', freq='W-SUN')]

In [142]:
# Convert timestamp to date
# forecast_dates = []
# for time_i in date_new:
#     forecast_dates.append(time_i.date())

In [143]:
# df_forecast= pd.DataFrame({'Date':np.array(forecast_dates)})
# df_forecast['Date']=pd.to_datetime(df_forecast['Date'])

In [144]:
# df_forecast['Date']

In [145]:
result_df

Quantity          mean      mean_se  mean_ci_lower  mean_ci_upper
2020-01-12   45.412726  1002.820224    -274.125273     364.950724
2020-01-19  109.364481  1002.819007    -210.173130     428.902092
2020-01-26   64.276842  1002.818966    -255.260755     383.814440
2020-02-02   62.579708  1002.818964    -256.957889     382.117305
2020-02-09   90.614344  1002.818964    -228.923253     410.151941
...                ...          ...            ...            ...
2023-06-04   99.262316    87.624664      71.341649     127.182983
2023-06-11  107.058467    89.230317      78.626176     135.490759
2023-06-18   94.139549    90.806681      65.204966     123.074132
2023-06-25   86.395289    92.331165      56.974945     115.815633
2023-07-02   98.700085    93.830627      68.801954     128.598216

[182 rows x 4 columns]

In [146]:
df1= pd.DataFrame()
df1['Date'] = date_new
df1['Forecast_Qty']= result_df['mean'].values
df1['Pred_lower']= result_df['mean_ci_lower'].values
df1['Pred_upper']= result_df['mean_ci_upper'].values

In [147]:
df1

          Date  Forecast_Qty  Pred_lower  Pred_upper
0   2020-01-12     45.412726 -274.125273  364.950724
1   2020-01-19    109.364481 -210.173130  428.902092
2   2020-01-26     64.276842 -255.260755  383.814440
3   2020-02-02     62.579708 -256.957889  382.117305
4   2020-02-09     90.614344 -228.923253  410.151941
..         ...           ...         ...         ...
177 2023-06-04     99.262316   71.341649  127.182983
178 2023-06-11    107.058467   78.626176  135.490759
179 2023-06-18     94.139549   65.204966  123.074132
180 2023-06-25     86.395289   56.974945  115.815633
181 2023-07-02     98.700085   68.801954  128.598216

[182 rows x 4 columns]

In [148]:
# df1['Date'] = df1['Date'].astype(str)
# data4['Date'] = data4['Date'].astype(str)

In [149]:
data4 = data3.reset_index()

In [150]:
data4

          Date Location               Item   Quantity      Amount
0   2020-01-05  FREMONT  CHICKEN XXXXX - O  37.023380  184.746667
1   2020-01-12  FREMONT  CHICKEN XXXXX - O  41.889780  209.030000
2   2020-01-19  FREMONT  CHICKEN XXXXX - O  86.101210  429.645000
3   2020-01-26  FREMONT  CHICKEN XXXXX - O  63.834068  318.532000
4   2020-02-02  FREMONT  CHICKEN XXXXX - O  45.320977  226.151667
..         ...      ...                ...        ...         ...
147 2022-10-30  FREMONT  CHICKEN XXXXX - O  38.625329  231.365714
148 2022-11-06  FREMONT  CHICKEN XXXXX - O  52.301170  313.284000
149 2022-11-13  FREMONT  CHICKEN XXXXX - O  41.523016  248.722857
150 2022-11-20  FREMONT  CHICKEN XXXXX - O  36.942523  221.285714
151 2022-11-27  FREMONT  CHICKEN XXXXX - O  28.980247  173.591667

[152 rows x 5 columns]

In [151]:
merge= pd.merge(data4,df1, on=['Date'], how='outer')

In [152]:
merge

,Date,Location,Item,Quantity,Amount,Forecast_Qty,Pred_lower,Pred_upper
0,2020-01-05,FREMONT,CHICKEN XXXXX - O,37.023380,184.746667,NaN,NaN,NaN
1,2020-01-12,FREMONT,CHICKEN XXXXX - O,41.889780,209.030000,45.412726,-274.125273,364.950724
2,2020-01-19,FREMONT,CHICKEN XXXXX - O,86.101210,429.645000,109.364481,-210.173130,428.902092
3,2020-01-26,FREMONT,CHICKEN XXXXX - O,63.834068,318.532000,64.276842,-255.260755,383.814440
4,2020-02-02,FREMONT,CHICKEN XXXXX - O,45.320977,226.151667,62.579708,-256.957889,382.117305
...,...,...,...,...,...,...,...,...
178,2023-06-04,NaN,NaN,NaN,NaN,99.262316,71.341649,127.182983
179,2023-06-11,NaN,NaN,NaN,NaN,107.058467,78.626176,135.490759
180,2023-06-18,NaN,NaN,NaN,NaN,94.139549,65.204966,123.074132
181,2023-06-25,NaN,NaN,NaN,NaN,86.395289,56.974945,115.815633
182,2023-07-02,NaN,NaN,NaN,NaN,98.700085,68.801954,128.598216

In [ ]:
# df1.to_excel('test25.xlsx')

In [ ]:
#         Calculate mean squared error
#         MSE_Score= mean_squared_error(item_data["Quantity"], forecast.values)
        
#         RMSE_Score= math.sqrt(mean_squared_error(item_data["Quantity"], forecast.values))


from sklearn.metrics import mean_squared_error
#         from statsmodels.tools.eval_measures import rmse

from sklearn.metrics import mean_absolute_percentage_error

import math

MSE_Score= mean_squared_error(data3["Quantity"], forecast.values).round(2)
print('MSE_Score:', MSE_Score)

RMSE_Score = math.sqrt(mean_squared_error(data3["Quantity"], forecast.values))
print('RMSE_Score:', round(RMSE_Score, 2))

MAPE_Score= mean_absolute_percentage_error(data3["Quantity"], forecast.values).round(2)
print('MAPE_Score:', MAPE_Score)

In [ ]:
fig, ax = plt.subplots(figsize=(12,5))
ax = data3['Quantity'].plot(label='Actual Data')
ax.set(
    title='True and Predicted Values, with Confidence Intervals',
    xlabel='Date',
    ylabel='Actual / Predicted Values'
)
result_df2['mean'].plot(ax=ax, style='r', label='Predicted Qty')
ax.fill_between(
    result_df.index, result_df['mean_ci_lower'], result_df['mean_ci_upper'],
    color='r', alpha=0.1
)
legend = ax.legend(loc='upper left')
plt.show()

In [ ]:
result_df2 = (result.get_prediction(start= '2020-01-05', end= len(data3)).summary_frame(alpha=0.25))
result_df2

In [ ]:
result_df3 = result.get_prediction(start= '2020-01-05', end= len(data3))

In [ ]:
result_df3.predicted_mean

In [ ]:
result_df3.conf_int(0.25)

### All in one

In [122]:
data_df= data2.copy()

In [123]:
data_df

                           Location               Item    Quantity      Amount
Date
2020-01-05                  FREMONT  CHICKEN XXXXX - O   37.023380  184.746667
2020-01-12                  FREMONT  CHICKEN XXXXX - O   41.889780  209.030000
2020-01-19                  FREMONT  CHICKEN XXXXX - O   86.101210  429.645000
2020-01-26                  FREMONT  CHICKEN XXXXX - O   63.834068  318.532000
2020-02-02                  FREMONT  CHICKEN XXXXX - O   45.320977  226.151667
...                             ...                ...         ...         ...
2022-10-30  S SAN FRANCISCO BUS CTR    DRUMSTICKS NNNN  113.512925  146.431667
2022-11-06  S SAN FRANCISCO BUS CTR    DRUMSTICKS NNNN   97.404393  125.651667
2022-11-13  S SAN FRANCISCO BUS CTR    DRUMSTICKS NNNN   93.240305  120.280000
2022-11-20  S SAN FRANCISCO BUS CTR    DRUMSTICKS NNNN   94.381132  121.751667
2022-11-27  S SAN FRANCISCO BUS CTR    DRUMSTICKS NNNN   88.660853  114.372500

[2127 rows x 4 columns]

In [153]:
timeset= data_df.index

# n_past= seq_size= 1          # 1 means-1 week back
n_days_for_prediction = 182  #let us predict past 12 days +31 

date_new = pd.date_range(list(timeset)[1], periods=n_days_for_prediction, freq='W').tolist()

In [155]:

for i in data_df['Location'].unique():
    df= data_df[data_df['Location']==i]
    for j in df['Item'].unique():
        item_data= df[df["Item"]==j]
        
        item_data= item_data.drop(['Location', 'Item', 'Amount'], axis=1)
        time_series = item_data.index
        
#         n_days_for_prediction=182
        
#         date_new = pd.date_range(list(timeset)[0], periods=n_days_for_prediction, freq='W').tolist()
        
        train = item_data.iloc[:len(df)-31]
        test = item_data.iloc[len(df)-31:] # set 31 Months for testing
        
        
        from statsmodels.tsa.statespace.sarimax import SARIMAX
  
        model = SARIMAX(train['Quantity'], 
                order = (1, 1, 1), 
                seasonal_order =(2, 1, 1, 12))
  
        result = model.fit()
    
#         forecast = result.predict(start = 1, 
#                           end = (len(item_data)), 
#                           typ = 'levels').rename('Forecast')
        
        result_df = (result.get_prediction(start= 1, end= 182).summary_frame(alpha=0.70))
        
        df1= pd.DataFrame()
        df1['Date'] = date_new
        df1['Forecast_Qty']= result_df['mean'].values
        df1['Pred_lower']= result_df['mean_ci_lower'].values
        df1['Pred_upper']= result_df['mean_ci_upper'].values
        
#         #Creating df for storing data without lag. 
#         stock= pd.DataFrame()
#         stock['Date'] = time_series
#         stock['Forecasted_Qty']= forecast.values


#         df_forecast = pd.DataFrame()
#         df_forecast['Date']= time_series
#         df_forecast['Forcasted_Qty']= forecast.values
        
        #Saving Results 
        df1['Location']= i
        df1['Item']=j
        
#         stock['Location']= i
#         stock['Item']=j
        
        print("\n")
        print(f'Writing prediction bound results of {i} and {j}')
        predction_output = "ModelOut\All_out\Weekly\Sarima\Output_bound\Output_bound -" +i+"-"+j+".xlsx"
        df1.to_excel(predction_output, index= False)
        
#         print(f'Writing stk data for {i} and {j}')
#         predction_output = "ModelOut\All_out\Weekly\Output\Output_stk-" +i+"-"+j+".xlsx"
#         stock.to_excel(predction_output, index= False)
        
#         print('\n')
#         print('Calculating error matrices')
        
#         from sklearn.metrics import mean_squared_error
# #         from statsmodels.tools.eval_measures import rmse

#         from sklearn.metrics import mean_absolute_percentage_error

#         import math

#         MSE_Score= mean_squared_error(item_data["Quantity"], forecast.values).round(2)
# #         print('MSE_Score:', MSE_Score)

#         RMSE_Score = math.sqrt(mean_squared_error(item_data["Quantity"], forecast.values))
# #         print('RMSE_Score:', round(RMSE_Score, 2))

#         MAPE_Score= mean_absolute_percentage_error(item_data["Quantity"], forecast.values).round(2)
# #         print('MAPE_Score:', MAPE_Score)
        
#         col_names =  ['MSE_SARIMA', 'RMSE_SARIMA', 'MAPE_SARIMA']
#         Error_matric= pd.DataFrame(columns = col_names)
        
#         my_out = {'MSE_SARIMA': MSE_Score, 'RMSE_SARIMA': RMSE_Score, 'MAPE_SARIMA': MAPE_Score }
#         Error_matric.loc[len(Error_matric)] = my_out 
        
#         Error_matric['Location']=i
#         Error_matric['Item']=j
        
#         print(f'Writing error matrices of {i} and {j}')
#         print("\n")
#         Error_output = "ModelOut\All_out\Weekly\Error\Output_Error -" +i+"-"+j+".xlsx"
#         Error_matric.to_excel(Error_output, index= False)
        
        print('Training complete')

C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)

Writing prediction bound results of FREMONT and CHICKEN XXXXX - O
Training complete

C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\base\model.py:604: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

Writing prediction bound results of FREMONT and DRUMSTICKS NNNN
Training complete

C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)

Writing prediction bound results of FREMONT and FILLET QQQQ
Training complete

C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:834: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(

Writing prediction bound results of HAYWARD and CHICKEN XXXXX - O
Training complete

C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)

Writing prediction bound results of HAYWARD and DRUMSTICKS NNNN
Training complete

C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)

Writing prediction bound results of HAYWARD and FILLET QQQQ
Training complete

C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)

Writing prediction bound results of LAKEWOOD and CHICKEN XXXXX - O
Training complete

C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)

Writing prediction bound results of LAKEWOOD and DRUMSTICKS NNNN
Training complete

C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)

Writing prediction bound results of LAKEWOOD and FILLET QQQQ
Training complete

C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)

Writing prediction bound results of RICHMOND CA and CHICKEN XXXXX - O
Training complete

C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)

Writing prediction bound results of RICHMOND CA and DRUMSTICKS NNNN
Training complete

C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)

Writing prediction bound results of RICHMOND CA and FILLET QQQQ
Training complete

C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)

Writing prediction bound results of S SAN FRANCISCO BUS CTR and BEEF OOOO - GT
Training complete

C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)

Writing prediction bound results of S SAN FRANCISCO BUS CTR and DRUMSTICKS NNNN
Training complete

In [ ]:
# result.save()

In [156]:
import pandas as pd
import os
import glob

#### combining all prediction bound output

In [157]:
# use glob to get all the csv files
# for output with bound

path = 'C:\\Users\\Ramshankar\\OneDrive - iLink Systems Inc\\Documents\\Costco\\Code\\ModelOut\\All_out\\Weekly\\Sarima\\Output_bound\\'
out_files = glob.glob(os.path.join(path, "*.xlsx"))

dfs= []


for f in out_files:
    dfs.append(pd.read_excel(f ))
df_bound = pd.concat(dfs, ignore_index=True)

In [158]:
df_bound.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2548 entries, 0 to 2547
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          2548 non-null   datetime64[ns]
 1   Forecast_Qty  2548 non-null   float64
 2   Pred_lower    2548 non-null   float64
 3   Pred_upper    2548 non-null   float64
 4   Location      2548 non-null   object
 5   Item          2548 non-null   object
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 119.6+ KB

In [159]:
df_bound.head()

        Date  Forecast_Qty  Pred_lower  Pred_upper Location               Item
0 2020-01-12     37.009270 -348.688006  422.706546  FREMONT  CHICKEN XXXXX - O
1 2020-01-19     41.883290 -343.813928  427.580508  FREMONT  CHICKEN XXXXX - O
2 2020-01-26     86.066259 -299.630957  471.763474  FREMONT  CHICKEN XXXXX - O
3 2020-02-02     63.844131 -321.853085  449.541347  FREMONT  CHICKEN XXXXX - O
4 2020-02-09     45.337062 -340.360154  431.034278  FREMONT  CHICKEN XXXXX - O

In [160]:
# df_bound.to_excel('Output_SARIMA_Weekly_25%.xlsx', index=False)

In [161]:
#Read Data 


# data_25= pd.read_excel('C:\\Users\\Ramshankar\\OneDrive - iLink Systems Inc\\Documents\\Costco\\Code\\Output_SARIMA_Weekly_25%.xlsx', index_col ='Date',parse_dates = True)

In [162]:
# data_25.head()

In [163]:
# data_25= data_25.reset_index()

In [164]:
data2= data_df.reset_index()

In [165]:
data2.head()

        Date Location               Item   Quantity      Amount
0 2020-01-05  FREMONT  CHICKEN XXXXX - O  37.023380  184.746667
1 2020-01-12  FREMONT  CHICKEN XXXXX - O  41.889780  209.030000
2 2020-01-19  FREMONT  CHICKEN XXXXX - O  86.101210  429.645000
3 2020-01-26  FREMONT  CHICKEN XXXXX - O  63.834068  318.532000
4 2020-02-02  FREMONT  CHICKEN XXXXX - O  45.320977  226.151667

In [169]:
merge= pd.merge(data2, df_bound, on=['Date', 'Location', 'Item'], how= 'outer')

In [170]:
# merge.to_excel('Output_SARIMA_Weekly_20%.xlsx', index=False)

In [171]:
merge

,Date,Location,Item,Quantity,Amount,Forecast_Qty,Pred_lower,Pred_upper
0,2020-01-05,FREMONT,CHICKEN XXXXX - O,37.023380,184.746667,NaN,NaN,NaN
1,2020-01-12,FREMONT,CHICKEN XXXXX - O,41.889780,209.030000,37.009270,-348.688006,422.706546
2,2020-01-19,FREMONT,CHICKEN XXXXX - O,86.101210,429.645000,41.883290,-343.813928,427.580508
3,2020-01-26,FREMONT,CHICKEN XXXXX - O,63.834068,318.532000,86.066259,-299.630957,471.763474
4,2020-02-02,FREMONT,CHICKEN XXXXX - O,45.320977,226.151667,63.844131,-321.853085,449.541347
...,...,...,...,...,...,...,...,...
2557,2023-06-04,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,NaN,NaN,99.262316,65.498740,133.025893
2558,2023-06-11,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,NaN,NaN,107.058467,72.676200,141.440735
2559,2023-06-18,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,NaN,NaN,94.139549,59.149876,129.129221
2560,2023-06-25,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,NaN,NaN,86.395289,50.818201,121.972376
2561,2023-07-02,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,NaN,NaN,98.700085,62.545224,134.854946

In [172]:
# merge['Quantity'] = merge['Quantity'].fillna(0)
# merge['Amount'] = merge['Amount'].fillna(0)

In [173]:
merge.to_excel('Final_Output_SARIMA_with_Bound_30%.xlsx', index=False)

#### Combining all the output (without pridiction bound) in one

In [ ]:
# use glob to get all the csv files
# in the folder

# For output files 

path = 'C:\\Users\\Ramshankar\\OneDrive - iLink Systems Inc\\Documents\\Costco\\Code\\ModelOut\\All_out\\Weekly\\Output\\'
out_files = glob.glob(os.path.join(path, "*.xlsx"))

dfs= []


for f in out_files:
    dfs.append(pd.read_excel(f))
df_out =pd.concat(dfs, ignore_index=True)

In [ ]:
df_out

In [ ]:
merge2= pd.merge(data2, df_out, on=['Date', 'Location', 'Item'], how= 'inner')

In [ ]:
merge2.to_excel('All_Output_SARIMA_without_bound_weekly.xlsx', index=False)

#### combining all the errors

In [ ]:
path = 'C:\\Users\\Ramshankar\\OneDrive - iLink Systems Inc\\Documents\\Costco\\Code\\ModelOut\\All_out\\Weekly\\Error\\'
error_files = glob.glob(os.path.join(path, "*.xlsx"))

len(error_files)

dfs_err= []


for f in error_files:
    dfs_err.append(pd.read_excel(f))
dfs_err=pd.concat(dfs_err, ignore_index=True)

In [ ]:
dfs_err.to_excel('All_Error_Output_SARIMA_Weekly.xlsx', index=False)