In [37]:
import pandas as pd
import numpy as np

In [38]:
data_inv = pd.read_excel('C:\\Users\\Ramshankar\\OneDrive - iLink Systems Inc\\Documents\\Costco\\Code\\Weekly_inventry_generated_dt.xlsx')

In [39]:
data_inv

,Date,Location,Item,OH Quantity,On Order Quantity,In Transit Quantity,NSI Quantity
0,2020-01-05,FREMONT,CHICKEN XXXXX - O,76,89,66,0
1,2020-01-12,FREMONT,CHICKEN XXXXX - O,84,83,47,0
2,2020-01-19,FREMONT,CHICKEN XXXXX - O,57,58,9,0
3,2020-01-26,FREMONT,CHICKEN XXXXX - O,91,91,41,0
4,2020-02-02,FREMONT,CHICKEN XXXXX - O,84,97,44,0
...,...,...,...,...,...,...,...
2137,2022-11-06,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,42,47,38,0
2138,2022-11-13,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,39,27,20,0
2139,2022-11-20,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,77,77,64,0
2140,2022-11-27,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,69,66,52,0
2141,2022-12-04,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,19,6,4,0

In [40]:
## Aploading Sales Inventory Weekly data

df_sales = pd.read_excel('C:\\Users\\Ramshankar\\OneDrive - iLink Systems Inc\\Documents\\Costco\\Dataset\\Final Output\\Weekly\\SARIMA\\Final\\All_Output_SARIMA_without_bound_weekly.xlsx')

In [41]:
data_merge = pd.merge(data_inv,df_sales, on=['Date', 'Location', 'Item'], how='inner')

In [42]:
data_merge

,Date,Location,Item,OH Quantity,On Order Quantity,In Transit Quantity,NSI Quantity,Quantity,Amount,Forecasted_Qty
0,2020-01-05,FREMONT,CHICKEN XXXXX - O,76,89,66,0,37.023380,184.746667,37.009270
1,2020-01-12,FREMONT,CHICKEN XXXXX - O,84,83,47,0,41.889780,209.030000,41.883290
2,2020-01-19,FREMONT,CHICKEN XXXXX - O,57,58,9,0,86.101210,429.645000,86.066259
3,2020-01-26,FREMONT,CHICKEN XXXXX - O,91,91,41,0,63.834068,318.532000,63.844131
4,2020-02-02,FREMONT,CHICKEN XXXXX - O,84,97,44,0,45.320977,226.151667,45.337062
...,...,...,...,...,...,...,...,...,...,...
2122,2022-10-30,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,56,45,46,0,113.512925,146.431667,115.517915
2123,2022-11-06,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,42,47,38,0,97.404393,125.651667,118.614955
2124,2022-11-13,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,39,27,20,0,93.240305,120.280000,132.863461
2125,2022-11-20,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,77,77,64,0,94.381132,121.751667,87.941498
2126,2022-11-27,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,69,66,52,0,88.660853,114.372500,82.542661

In [43]:
data_merge['Quantity'] = data_merge['Quantity'].round(2)
data_merge['Amount'] = data_merge['Amount'].round(2)
data_merge['Forecasted_Qty'] = data_merge['Forecasted_Qty'].round(2)

In [44]:
data_merge.tail()

,Date,Location,Item,OH Quantity,On Order Quantity,In Transit Quantity,NSI Quantity,Quantity,Amount,Forecasted_Qty
2122,2022-10-30,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,56,45,46,0,113.51,146.43,115.52
2123,2022-11-06,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,42,47,38,0,97.40,125.65,118.61
2124,2022-11-13,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,39,27,20,0,93.24,120.28,132.86
2125,2022-11-20,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,77,77,64,0,94.38,121.75,87.94
2126,2022-11-27,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,69,66,52,0,88.66,114.37,82.54

In [45]:
# 6 months filtering 

data_merge1= data_merge[data_merge['Date'] >='2022-04-27']

In [46]:
data_merge1.head()

,Date,Location,Item,OH Quantity,On Order Quantity,In Transit Quantity,NSI Quantity,Quantity,Amount,Forecasted_Qty
121,2022-05-01,FREMONT,CHICKEN XXXXX - O,85,99,37,0,55.80,334.24,46.71
122,2022-05-08,FREMONT,CHICKEN XXXXX - O,65,71,12,0,41.94,251.21,54.25
123,2022-05-15,FREMONT,CHICKEN XXXXX - O,82,92,44,0,65.50,392.34,49.95
124,2022-05-22,FREMONT,CHICKEN XXXXX - O,82,99,42,0,27.73,166.11,38.10
125,2022-05-29,FREMONT,CHICKEN XXXXX - O,72,83,5,0,19.68,117.88,43.47

In [47]:
data_merge1.tail()

,Date,Location,Item,OH Quantity,On Order Quantity,In Transit Quantity,NSI Quantity,Quantity,Amount,Forecasted_Qty
2122,2022-10-30,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,56,45,46,0,113.51,146.43,115.52
2123,2022-11-06,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,42,47,38,0,97.40,125.65,118.61
2124,2022-11-13,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,39,27,20,0,93.24,120.28,132.86
2125,2022-11-20,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,77,77,64,0,94.38,121.75,87.94
2126,2022-11-27,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,69,66,52,0,88.66,114.37,82.54

In [48]:
# Stocks = MAX(0, D(LT) - On hand - InTrn(LT) + PndSales(LT)).

data_merge1['Stock_Qty'] = round(data_merge1['Quantity'] +data_merge1['On Order Quantity'] - data_merge1['OH Quantity']-data_merge1['In Transit Quantity'], 0)

C:\Users\Ramshankar\AppData\Local\Temp\ipykernel_20284\433963911.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merge1['Stock_Qty'] = round(data_merge1['Quantity'] +data_merge1['On Order Quantity'] - data_merge1['OH Quantity']-data_merge1['In Transit Quantity'], 0)

In [61]:
conditions = [
    (data_merge1['Stock_Qty'] <= 0),
    (data_merge1['Stock_Qty'] > 0) & (data_merge1['Stock_Qty'] <= 20),
    (data_merge1['Stock_Qty'] > 20)]

values = ['Understock', 'Onhand', 'Overstock']

data_merge1["Stocks"]=np.select(conditions, values)

C:\Users\Ramshankar\AppData\Local\Temp\ipykernel_20284\4088452718.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merge1["Stocks"]=np.select(conditions, values)

In [62]:
len(data_merge1[data_merge1['Stocks']== 'Onhand'])

30

In [63]:
#Overstock-222
#Understock-144
#Onhand-42

In [64]:
def stock_flag(row):
    if row['Stocks']== 'Overstock':
        return 1
    elif row['Stocks']== 'Understock':
        return 2
    elif row['Stocks']=='Onhand':
        return 3

In [65]:
data_merge1["Stock_flag"] = data_merge1.apply(stock_flag,axis=1)

C:\Users\Ramshankar\AppData\Local\Temp\ipykernel_20284\86810174.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merge1["Stock_flag"] = data_merge1.apply(stock_flag,axis=1)

In [66]:
data_merge1

,Date,Location,Item,OH Quantity,On Order Quantity,In Transit Quantity,NSI Quantity,Quantity,Amount,Forecasted_Qty,Stock_Qty,Stocks,Stock_flag
121,2022-05-01,FREMONT,CHICKEN XXXXX - O,85,99,37,0,55.80,334.24,46.71,33.0,Overstock,1
122,2022-05-08,FREMONT,CHICKEN XXXXX - O,65,71,12,0,41.94,251.21,54.25,36.0,Overstock,1
123,2022-05-15,FREMONT,CHICKEN XXXXX - O,82,92,44,0,65.50,392.34,49.95,32.0,Overstock,1
124,2022-05-22,FREMONT,CHICKEN XXXXX - O,82,99,42,0,27.73,166.11,38.10,3.0,Onhand,3
125,2022-05-29,FREMONT,CHICKEN XXXXX - O,72,83,5,0,19.68,117.88,43.47,26.0,Overstock,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2122,2022-10-30,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,56,45,46,0,113.51,146.43,115.52,57.0,Overstock,1
2123,2022-11-06,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,42,47,38,0,97.40,125.65,118.61,64.0,Overstock,1
2124,2022-11-13,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,39,27,20,0,93.24,120.28,132.86,61.0,Overstock,1
2125,2022-11-20,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,77,77,64,0,94.38,121.75,87.94,30.0,Overstock,1
2126,2022-11-27,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,69,66,52,0,88.66,114.37,82.54,34.0,Overstock,1

In [67]:
data_merge1.to_excel('sales_invntry_stock_6months.xlsx', index=False)