In [80]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [127]:
#Read Data 


data= pd.read_excel('C:\\Users\\Ramshankar\\OneDrive - iLink Systems Inc\\Documents\\Costco\\Dataset\\Final Output\\Weekly\\Data_Weekly.xlsx')

In [128]:
import copy

data2= copy.deepcopy(data)

In [129]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2127 entries, 0 to 2126
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Location  2127 non-null   object
 1   Item      2127 non-null   object
 2   Date      2127 non-null   datetime64[ns]
 3   Quantity  2127 non-null   float64
 4   Amount    2127 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 83.2+ KB

In [130]:
data3= data2[(data2['Location']== 'HAYWARD') & (data2['Item']=='CHICKEN XXXXX - O')]

In [131]:
data3

    Location               Item       Date   Quantity      Amount
456  HAYWARD  CHICKEN XXXXX - O 2020-01-05  61.569140  307.230000
457  HAYWARD  CHICKEN XXXXX - O 2020-01-12  33.726955  168.297500
458  HAYWARD  CHICKEN XXXXX - O 2020-01-19  46.787976  233.472000
459  HAYWARD  CHICKEN XXXXX - O 2020-01-26  39.729060  198.248000
460  HAYWARD  CHICKEN XXXXX - O 2020-02-02  30.158317  150.490000
..       ...                ...        ...        ...         ...
602  HAYWARD  CHICKEN XXXXX - O 2022-10-30  27.247080  163.210000
603  HAYWARD  CHICKEN XXXXX - O 2022-11-06  24.582874  147.251429
604  HAYWARD  CHICKEN XXXXX - O 2022-11-13  30.057956  180.047143
605  HAYWARD  CHICKEN XXXXX - O 2022-11-20  29.922536  179.236000
606  HAYWARD  CHICKEN XXXXX - O 2022-11-27  33.083473  198.170000

[151 rows x 5 columns]

In [132]:
# item_data= item_data.drop(['Location', 'Item', 'Amount'], axis=1)
# time_series = item_data.index
train = data3.iloc[:len(data3)-31]
test = data3.iloc[len(data3)-31:] # set 31 weeks for testing
        
from statsmodels.tsa.statespace.sarimax import SARIMAX
  
model = SARIMAX(train['Quantity'],order = (1, 1, 1),seasonal_order =(2, 1, 1, 12))
  
result = model.fit()
    
forecast = result.predict(start = 1, end = (len(data3)), typ = 'levels').rename('Forecast')

C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:834: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(

In [134]:
result_df = (result.get_prediction(start= 1, end= len(data3) + 31).summary_frame(alpha=0.25))
# result_df2 = (result.get_prediction(start= '2020-01-05', end= len(data3)).summary_frame(alpha=0.25))

C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:834: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(

In [135]:
result_df

Quantity       mean      mean_se  mean_ci_lower  mean_ci_upper
1         61.545109  1000.711324   -1089.622542    1212.712760
2         33.754837  1000.711161   -1117.412627    1184.922302
3         46.770635  1000.711151   -1104.396817    1197.938088
4         39.739014  1000.711150   -1111.428438    1190.906465
5         30.163231  1000.711150   -1121.004220    1181.330683
..              ...          ...            ...            ...
178       17.009797    87.339330     -83.460947     117.480542
179       29.960846    88.196346     -71.495766     131.417458
180       18.736848    89.458507     -84.171690     121.645386
181       21.661127    90.356922     -82.280902     125.603157
182       13.612607    91.300670     -91.415062     118.640277

[182 rows x 4 columns]

In [136]:
result_df.to_excel('test25.xlsx')

In [90]:
#         Calculate mean squared error
#         MSE_Score= mean_squared_error(item_data["Quantity"], forecast.values)
        
#         RMSE_Score= math.sqrt(mean_squared_error(item_data["Quantity"], forecast.values))


from sklearn.metrics import mean_squared_error
#         from statsmodels.tools.eval_measures import rmse

from sklearn.metrics import mean_absolute_percentage_error

import math

MSE_Score= mean_squared_error(data3["Quantity"], forecast.values).round(2)
print('MSE_Score:', MSE_Score)

RMSE_Score = math.sqrt(mean_squared_error(data3["Quantity"], forecast.values))
print('RMSE_Score:', round(RMSE_Score, 2))

MAPE_Score= mean_absolute_percentage_error(data3["Quantity"], forecast.values).round(2)
print('MAPE_Score:', MAPE_Score)

MSE_Score: 426.38
RMSE_Score: 20.65
MAPE_Score: 0.28

In [ ]:
fig, ax = plt.subplots(figsize=(12,5))
ax = data3['Quantity'].plot(label='Actual Data')
ax.set(
    title='True and Predicted Values, with Confidence Intervals',
    xlabel='Date',
    ylabel='Actual / Predicted Values'
)
result_df2['mean'].plot(ax=ax, style='r', label='Predicted Qty')
ax.fill_between(
    result_df.index, result_df['mean_ci_lower'], result_df['mean_ci_upper'],
    color='r', alpha=0.1
)
legend = ax.legend(loc='upper left')
plt.show()

In [91]:
result_df2 = (result.get_prediction(start= '2020-01-05', end= len(data3)).summary_frame(alpha=0.25))
result_df2

Quantity         mean      mean_se  mean_ci_lower  mean_ci_upper
2020-01-05   0.000000  1415.030410   -1627.779355    1627.779355
2020-01-12  37.006498  1001.154655   -1114.671140    1188.684135
2020-01-19  41.882217  1001.154441   -1109.795173    1193.559607
2020-01-26  86.059528  1001.154433   -1065.617854    1237.736910
2020-02-02  63.846628  1001.154433   -1087.830754    1215.524010
...               ...          ...            ...            ...
2022-11-06  40.164559    42.557546      -8.791488      89.120605
2022-11-13  37.625497    42.980611     -11.817222      87.068217
2022-11-20  45.287592    43.399375      -4.636852      95.212036
2022-11-27  44.978636    43.814120      -5.422909      95.380182
2022-12-04  37.918346    44.225058     -12.955922      88.792614

[153 rows x 4 columns]

In [ ]:
result_df3 = result.get_prediction(start= '2020-01-05', end= len(data3))

In [ ]:
result_df3.predicted_mean

In [ ]:
result_df3.conf_int(0.25)

### All in one

In [16]:
data_df= data2.copy()

In [17]:
data_df

                           Location               Item    Quantity      Amount
Date
2020-01-05                  FREMONT  CHICKEN XXXXX - O   37.023380  184.746667
2020-01-12                  FREMONT  CHICKEN XXXXX - O   41.889780  209.030000
2020-01-19                  FREMONT  CHICKEN XXXXX - O   86.101210  429.645000
2020-01-26                  FREMONT  CHICKEN XXXXX - O   63.834068  318.532000
2020-02-02                  FREMONT  CHICKEN XXXXX - O   45.320977  226.151667
...                             ...                ...         ...         ...
2022-10-30  S SAN FRANCISCO BUS CTR    DRUMSTICKS NNNN  113.512925  146.431667
2022-11-06  S SAN FRANCISCO BUS CTR    DRUMSTICKS NNNN   97.404393  125.651667
2022-11-13  S SAN FRANCISCO BUS CTR    DRUMSTICKS NNNN   93.240305  120.280000
2022-11-20  S SAN FRANCISCO BUS CTR    DRUMSTICKS NNNN   94.381132  121.751667
2022-11-27  S SAN FRANCISCO BUS CTR    DRUMSTICKS NNNN   88.660853  114.372500

[2127 rows x 4 columns]

In [ ]:
# train

In [58]:
for i in data_df['Location'].unique():
    df= data_df[data_df['Location']==i]
    for j in df['Item'].unique():
        item_data= df[df["Item"]==j]
        
        item_data= item_data.drop(['Location', 'Item', 'Amount'], axis=1)
        time_series = item_data.index
        train = item_data.iloc[:len(df)-31]
        test = item_data.iloc[len(df)-31:] # set 31 Months for testing
        
        from statsmodels.tsa.statespace.sarimax import SARIMAX
  
        model = SARIMAX(train['Quantity'], 
                order = (1, 1, 1), 
                seasonal_order =(2, 1, 1, 12))
  
        result = model.fit()
    
        forecast = result.predict(start = 1, 
                          end = (len(item_data)), 
                          typ = 'levels').rename('Forecast')
        
        result_df = (result.get_prediction(start='2020-01-05', end= len(item_data)+31).summary_frame(alpha=0.75))
        
        df1= pd.DataFrame()
        df1['Date'] = result_df.index
        df1['Forecast_Qty']= result_df['mean'].values
        df1['Pred_lower']= result_df['mean_ci_lower'].values
        df1['Pred_upper']= result_df['mean_ci_upper'].values
        
        #Creating df for storing data without lag. 
        stock= pd.DataFrame()
        stock['Date'] = time_series
        stock['Forecasted_Qty']= forecast.values


#         df_forecast = pd.DataFrame()
#         df_forecast['Date']= time_series
#         df_forecast['Forcasted_Qty']= forecast.values
        
        #Saving Results 
        df1['Location']= i
        df1['Item']=j
        
        stock['Location']= i
        stock['Item']=j
        
        print("\n")
        print(f'Writing prediction bound results of {i} and {j}')
        predction_output = "ModelOut\All_out\Weekly\Output_bound\Output_bound -" +i+"-"+j+".xlsx"
        df1.to_excel(predction_output, index= False)
        
        print(f'Writing stk data for {i} and {j}')
        predction_output = "ModelOut\All_out\Weekly\Output\Output_stk-" +i+"-"+j+".xlsx"
        stock.to_excel(predction_output, index= False)
        
        print('\n')
        print('Calculating error matrices')
        
        from sklearn.metrics import mean_squared_error
#         from statsmodels.tools.eval_measures import rmse

        from sklearn.metrics import mean_absolute_percentage_error

        import math

        MSE_Score= mean_squared_error(item_data["Quantity"], forecast.values).round(2)
#         print('MSE_Score:', MSE_Score)

        RMSE_Score = math.sqrt(mean_squared_error(item_data["Quantity"], forecast.values))
#         print('RMSE_Score:', round(RMSE_Score, 2))

        MAPE_Score= mean_absolute_percentage_error(item_data["Quantity"], forecast.values).round(2)
#         print('MAPE_Score:', MAPE_Score)
        
        col_names =  ['MSE_SARIMA', 'RMSE_SARIMA', 'MAPE_SARIMA']
        Error_matric= pd.DataFrame(columns = col_names)
        
        my_out = {'MSE_SARIMA': MSE_Score, 'RMSE_SARIMA': RMSE_Score, 'MAPE_SARIMA': MAPE_Score }
        Error_matric.loc[len(Error_matric)] = my_out 
        
        Error_matric['Location']=i
        Error_matric['Item']=j
        
        print(f'Writing error matrices of {i} and {j}')
        print("\n")
        Error_output = "ModelOut\All_out\Weekly\Error\Output_Error -" +i+"-"+j+".xlsx"
        Error_matric.to_excel(Error_output, index= False)
        
        print('Training complete')

C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)

Writing prediction bound results of FREMONT and CHICKEN XXXXX - O
Writing stk data for FREMONT and CHICKEN XXXXX - O


Calculating error matrices
Writing error matrices of FREMONT and CHICKEN XXXXX - O


Training complete

C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\base\model.py:604: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)

Writing prediction bound results of FREMONT and DRUMSTICKS NNNN
Writing stk data for FREMONT and DRUMSTICKS NNNN


Calculating error matrices
Writing error matrices of FREMONT and DRUMSTICKS NNNN


Training complete

C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)

Writing prediction bound results of FREMONT and FILLET QQQQ
Writing stk data for FREMONT and FILLET QQQQ


Calculating error matrices
Writing error matrices of FREMONT and FILLET QQQQ


Training complete

C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:834: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:834: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)

Writing prediction bound results of HAYWARD and CHICKEN XXXXX - O
Writing stk data for HAYWARD and CHICKEN XXXXX - O


Calculating error matrices
Writing error matrices of HAYWARD and CHICKEN XXXXX - O


Training complete


Writing prediction bound results of HAYWARD and DRUMSTICKS NNNN
Writing stk data for HAYWARD and DRUMSTICKS NNNN


Calculating error matrices
Writing error matrices of HAYWARD and DRUMSTICKS NNNN


Training complete

C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)

Writing prediction bound results of HAYWARD and FILLET QQQQ
Writing stk data for HAYWARD and FILLET QQQQ


Calculating error matrices
Writing error matrices of HAYWARD and FILLET QQQQ


Training complete

C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)

Writing prediction bound results of LAKEWOOD and CHICKEN XXXXX - O
Writing stk data for LAKEWOOD and CHICKEN XXXXX - O


Calculating error matrices
Writing error matrices of LAKEWOOD and CHICKEN XXXXX - O


Training complete

C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)

Writing prediction bound results of LAKEWOOD and DRUMSTICKS NNNN
Writing stk data for LAKEWOOD and DRUMSTICKS NNNN


Calculating error matrices
Writing error matrices of LAKEWOOD and DRUMSTICKS NNNN


Training complete

C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)

Writing prediction bound results of LAKEWOOD and FILLET QQQQ
Writing stk data for LAKEWOOD and FILLET QQQQ


Calculating error matrices
Writing error matrices of LAKEWOOD and FILLET QQQQ


Training complete

C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)

Writing prediction bound results of RICHMOND CA and CHICKEN XXXXX - O
Writing stk data for RICHMOND CA and CHICKEN XXXXX - O


Calculating error matrices
Writing error matrices of RICHMOND CA and CHICKEN XXXXX - O


Training complete

C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)

Writing prediction bound results of RICHMOND CA and DRUMSTICKS NNNN
Writing stk data for RICHMOND CA and DRUMSTICKS NNNN


Calculating error matrices
Writing error matrices of RICHMOND CA and DRUMSTICKS NNNN


Training complete

C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)

Writing prediction bound results of RICHMOND CA and FILLET QQQQ
Writing stk data for RICHMOND CA and FILLET QQQQ


Calculating error matrices
Writing error matrices of RICHMOND CA and FILLET QQQQ


Training complete

C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)

Writing prediction bound results of S SAN FRANCISCO BUS CTR and BEEF OOOO - GT
Writing stk data for S SAN FRANCISCO BUS CTR and BEEF OOOO - GT


Calculating error matrices
Writing error matrices of S SAN FRANCISCO BUS CTR and BEEF OOOO - GT


Training complete

C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)
C:\Users\Ramshankar\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency W-SUN will be used.
  self._init_dates(dates, freq)

Writing prediction bound results of S SAN FRANCISCO BUS CTR and DRUMSTICKS NNNN
Writing stk data for S SAN FRANCISCO BUS CTR and DRUMSTICKS NNNN


Calculating error matrices
Writing error matrices of S SAN FRANCISCO BUS CTR and DRUMSTICKS NNNN


Training complete

In [ ]:
result.save()

In [59]:
import pandas as pd
import os
import glob

#### combining all prediction bound output

In [60]:
# use glob to get all the csv files
# for output with bound

path = 'C:\\Users\\Ramshankar\\OneDrive - iLink Systems Inc\\Documents\\Costco\\Code\\ModelOut\\All_out\\Weekly\\Output_bound\\'
out_files = glob.glob(os.path.join(path, "*.xlsx"))

dfs= []


for f in out_files:
    dfs.append(pd.read_excel(f ))
df_bound = pd.concat(dfs, ignore_index=True)

In [61]:
df_bound.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2575 entries, 0 to 2574
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          2575 non-null   object
 1   Forecast_Qty  2575 non-null   float64
 2   Pred_lower    2575 non-null   float64
 3   Pred_upper    2575 non-null   float64
 4   Location      2575 non-null   object
 5   Item          2575 non-null   object
dtypes: float64(3), object(3)
memory usage: 120.8+ KB

In [62]:
df_bound.head()

,Date,Forecast_Qty,Pred_lower,Pred_upper,Location,Item
0,2020-01-05 00:00:00,0.000000,-450.844532,450.844532,FREMONT,CHICKEN XXXXX - O
1,2020-01-12 00:00:00,37.009270,-281.941695,355.960235,FREMONT,CHICKEN XXXXX - O
2,2020-01-19 00:00:00,41.883290,-277.067627,360.834208,FREMONT,CHICKEN XXXXX - O
3,2020-01-26 00:00:00,86.066259,-232.884657,405.017174,FREMONT,CHICKEN XXXXX - O
4,2020-02-02 00:00:00,63.844131,-255.106785,382.795046,FREMONT,CHICKEN XXXXX - O

In [63]:
# df_bound.to_excel('Output_SARIMA_Weekly_25%.xlsx', index=False)

In [64]:
#Read Data 


data_25= pd.read_excel('C:\\Users\\Ramshankar\\OneDrive - iLink Systems Inc\\Documents\\Costco\\Code\\Output_SARIMA_Weekly_25%.xlsx', index_col ='Date',parse_dates = True)

In [65]:
data_25.head()

            Forecast_Qty  Pred_lower  Pred_upper Location               Item
Date
2020-01-05      0.000000 -450.844532  450.844532  FREMONT  CHICKEN XXXXX - O
2020-01-12     37.009270 -281.941695  355.960235  FREMONT  CHICKEN XXXXX - O
2020-01-19     41.883290 -277.067627  360.834208  FREMONT  CHICKEN XXXXX - O
2020-01-26     86.066259 -232.884657  405.017174  FREMONT  CHICKEN XXXXX - O
2020-02-02     63.844131 -255.106785  382.795046  FREMONT  CHICKEN XXXXX - O

In [66]:
data_25= data_25.reset_index()

In [67]:
data2= data2.reset_index()

In [68]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2127 entries, 0 to 2126
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      2127 non-null   datetime64[ns]
 1   Location  2127 non-null   object
 2   Item      2127 non-null   object
 3   Quantity  2127 non-null   float64
 4   Amount    2127 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 83.2+ KB

In [69]:
merge= pd.merge(data2, data_25, on=['Date', 'Location', 'Item'], how= 'right')

In [ ]:
# merge.to_excel('Output_SARIMA_Weekly_20%.xlsx', index=False)

In [70]:
merge

,Date,Location,Item,Quantity,Amount,Forecast_Qty,Pred_lower,Pred_upper
0,2020-01-05,FREMONT,CHICKEN XXXXX - O,37.023380,184.746667,0.000000,-450.844532,450.844532
1,2020-01-12,FREMONT,CHICKEN XXXXX - O,41.889780,209.030000,37.009270,-281.941695,355.960235
2,2020-01-19,FREMONT,CHICKEN XXXXX - O,86.101210,429.645000,41.883290,-277.067627,360.834208
3,2020-01-26,FREMONT,CHICKEN XXXXX - O,63.834068,318.532000,86.066259,-232.884657,405.017174
4,2020-02-02,FREMONT,CHICKEN XXXXX - O,45.320977,226.151667,63.844131,-255.106785,382.795046
...,...,...,...,...,...,...,...,...
2570,2023-06-11,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,NaN,NaN,107.058467,78.626176,135.490759
2571,2023-06-18,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,NaN,NaN,94.139549,65.204966,123.074132
2572,2023-06-25,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,NaN,NaN,86.395289,56.974945,115.815633
2573,2023-07-02,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,NaN,NaN,98.700085,68.801954,128.598216
2574,2023-07-09,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,NaN,NaN,94.807693,64.439306,125.176081

In [71]:
merge.to_excel('Final_Output_SARIMA_Weekly_25%.xlsx', index=False)

#### Combining all the output (without pridiction bound) in one

In [72]:
# use glob to get all the csv files
# in the folder

# For output files 

path = 'C:\\Users\\Ramshankar\\OneDrive - iLink Systems Inc\\Documents\\Costco\\Code\\ModelOut\\All_out\\Weekly\\Output\\'
out_files = glob.glob(os.path.join(path, "*.xlsx"))

dfs= []


for f in out_files:
    dfs.append(pd.read_excel(f))
df_out =pd.concat(dfs, ignore_index=True)

In [73]:
df_out

           Date  Forecasted_Qty                 Location               Item
0    2020-01-05       37.009270                  FREMONT  CHICKEN XXXXX - O
1    2020-01-12       41.883290                  FREMONT  CHICKEN XXXXX - O
2    2020-01-19       86.066259                  FREMONT  CHICKEN XXXXX - O
3    2020-01-26       63.844131                  FREMONT  CHICKEN XXXXX - O
4    2020-02-02       45.337062                  FREMONT  CHICKEN XXXXX - O
...         ...             ...                      ...                ...
2122 2022-10-30      115.517915  S SAN FRANCISCO BUS CTR    DRUMSTICKS NNNN
2123 2022-11-06      118.614955  S SAN FRANCISCO BUS CTR    DRUMSTICKS NNNN
2124 2022-11-13      132.863461  S SAN FRANCISCO BUS CTR    DRUMSTICKS NNNN
2125 2022-11-20       87.941498  S SAN FRANCISCO BUS CTR    DRUMSTICKS NNNN
2126 2022-11-27       82.542661  S SAN FRANCISCO BUS CTR    DRUMSTICKS NNNN

[2127 rows x 4 columns]

In [74]:
merge2= pd.merge(data2, df_out, on=['Date', 'Location', 'Item'], how= 'inner')

In [78]:
merge2.to_excel('All_Output_SARIMA_without_bound_weekly.xlsx', index=False)

#### combining all the errors

In [76]:
path = 'C:\\Users\\Ramshankar\\OneDrive - iLink Systems Inc\\Documents\\Costco\\Code\\ModelOut\\All_out\\Weekly\\Error\\'
error_files = glob.glob(os.path.join(path, "*.xlsx"))

len(error_files)

dfs_err= []


for f in error_files:
    dfs_err.append(pd.read_excel(f))
dfs_err=pd.concat(dfs_err, ignore_index=True)

In [79]:
dfs_err.to_excel('All_Error_Output_SARIMA_Weekly.xlsx', index=False)