In [1]:
import pandas as pd
import numpy as np

In [2]:
loc= 'C:\\Users\\Ramshankar\\OneDrive - iLink Systems Inc\\Documents\\Costco\\Dataset\\'


data= pd.read_excel(loc + 'combine_data_clean20-22.xlsx', index_col=False)
data.head()

,Date,Country,State,Region,District,Location,Major Department,Department,Category,Group,Item Category,Item,Quantity,Amount
0,2020-01-02,US,CA,LA REGION,LA3,LAKEWOOD,FRESH FOOD,61 MEAT,6 MEAT,64 POULTRY,640 CONVENTIONAL CHICKEN,DRUMSTICKS NNNN,172.55461,205.34
1,2020-01-02,US,CA,LA REGION,LA3,LAKEWOOD,FRESH FOOD,61 MEAT,6 MEAT,64 POULTRY,645 CHICKEN XXXXX - O,CHICKEN XXXXX - O,45.85170,228.80
2,2020-01-02,US,CA,BAY AREA,BA3,HAYWARD,FRESH FOOD,61 MEAT,6 MEAT,68 SEAFOOD,680 FRESH FISH FILLETS,FILLET QQQQ,60.41915,422.33
3,2020-01-02,US,CA,LA REGION,LA3,LAKEWOOD,FRESH FOOD,61 MEAT,6 MEAT,68 SEAFOOD,680 FRESH FISH FILLETS,FILLET QQQQ,36.49069,255.07
4,2020-01-02,US,CA,BAY AREA,BA3,HAYWARD,FRESH FOOD,61 MEAT,6 MEAT,64 POULTRY,645 CHICKEN XXXXX - O,CHICKEN XXXXX - O,90.86774,453.43

In [3]:
import copy
data_df= copy.deepcopy(data)

In [5]:
data_df.head()

,Date,Country,State,Region,District,Location,Major Department,Department,Category,Group,Item Category,Item,Quantity,Amount
0,2020-01-02,US,CA,LA REGION,LA3,LAKEWOOD,FRESH FOOD,61 MEAT,6 MEAT,64 POULTRY,640 CONVENTIONAL CHICKEN,DRUMSTICKS NNNN,172.55461,205.34
1,2020-01-02,US,CA,LA REGION,LA3,LAKEWOOD,FRESH FOOD,61 MEAT,6 MEAT,64 POULTRY,645 CHICKEN XXXXX - O,CHICKEN XXXXX - O,45.85170,228.80
2,2020-01-02,US,CA,BAY AREA,BA3,HAYWARD,FRESH FOOD,61 MEAT,6 MEAT,68 SEAFOOD,680 FRESH FISH FILLETS,FILLET QQQQ,60.41915,422.33
3,2020-01-02,US,CA,LA REGION,LA3,LAKEWOOD,FRESH FOOD,61 MEAT,6 MEAT,68 SEAFOOD,680 FRESH FISH FILLETS,FILLET QQQQ,36.49069,255.07
4,2020-01-02,US,CA,BAY AREA,BA3,HAYWARD,FRESH FOOD,61 MEAT,6 MEAT,64 POULTRY,645 CHICKEN XXXXX - O,CHICKEN XXXXX - O,90.86774,453.43

In [7]:
data_df= data_df[['Date', 'Location', 'Item', 'Quantity', 'Amount']]

In [9]:
from statsmodels.tsa.stattools import adfuller

In [28]:
X= data_df['Quantity'].values

In [29]:
len(X)

12456

In [30]:
from numpy import log
X= log(X)

In [31]:
adfuller_result = adfuller(X, autolag='AIC')

print('ADF Statistic: %f' % adfuller_result[0])
print('p-value: %f' % adfuller_result[1])
for key, value in adfuller_result[4].items():
    print('\t%s: %.3f' % (key, value))

ADF Statistic: -16.302146
p-value: 0.000000
	1%: -3.431
	5%: -2.862
	10%: -2.567

In [32]:
# ADF Test - nul hypothesis - non-stationary - if p-value < 5% reject null hypothesis
adfuller_result = adfuller(data_df['Quantity'], autolag='AIC')

print(f'ADF Statistic: {adfuller_result[0]}')

print(f'p-value: {adfuller_result[1]}')

for key, value in adfuller_result[4].items():
    print('Critial Values:')
    print(f'   {key}, {value}')

ADF Statistic: -15.175406772182392
p-value: 6.305118093392754e-28
Critial Values:
   1%, -3.43087628348681
Critial Values:
   5%, -2.8617725909994824
Critial Values:
   10%, -2.5668938031881146

In [11]:
# Data is non-stationary.